{% extends 'app/base.html' %}

{% block title %}About Start Normal{% endblock title %}
{% block header %}About Start Normal{% endblock header %}



{% block content %}

<div class='col-lg-8 my-5'>
  <p>
    Start Normal originally began as a group of parents advocating for a normal start to the school year in San Mateo County, California.  Once it became clear that our politicians had other plans for our kids, we decided to help ourselves.
  </p>
  <p>
    We're building a network of parents and teachers to support in-home, in-person instruction for small groups of students.  We're connecting kids who want to learn with teachers who want to teach &mdash; not through a screen, but face-to-face &mdash; to create as close to a normal school environment as we can safely accomplish with low-risk groups.
  </p>
  <p>
    We've seen what works around the world and value science and data over politics.  This approach isn't for everyone, but for those who believe the risks of a sub-standard education are greater than the risk of Covid-19 to our children's lives, Start Normal provides an alternative that allows parents and teachers to decide for themselves what is in the best interest of our children.
  </p>
  <p>
    Learn more about the "<a href='{% url "team" %}'>team</a>".
  </p>
</div>
{% endblock content %}
