{% extends 'app/base.html' %}

{% block title %}About Start Normal{% endblock title %}
{% block header %}About Start Normal{% endblock header %}



{% block content %}

<div class='col-lg-8 my-5'>
  <p>
    Start Normal originally began as a group of parents advocating for a normal start to the school year in San Mateo County, California.  Once it became clear that wasn't going to happen, we decided to help ourselves.
  </p>
  <p>
    We're building a network of parents and teachers to support in-person at-home instruction for small, low-risk groups.
  </p>
  <p>
    We understand that the risks from Covid-19 are real but are outweighed by our children's educational and social-emotional needs.  For those seeking to supplement or replace distance learning, Start Normal allows parents and teachers to decide for themselves what is in the best interest of our children.
  </p>
  <p>
    Learn more about the "<a href='{% url "team" %}'>team</a>".
  </p>
</div>
{% endblock content %}
