{% extends 'app/base.html' %}
{% block title %}
  Who I Am and Why I Did This
{% endblock title%}
{% block content %}

<h1>
  Who I Am and Why I Did This
</h1>

<div class='col-lg-6 my-5'>
<script src="https://fast.wistia.com/embed/medias/op5du7wnj3.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_op5du7wnj3 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/op5du7wnj3/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div></div>

<div class='col-lg-8'>
<p>
My name is David Binetti, I'm a dad, and I started this effort because I'm worried about my kids and community.
</p>
<p>
  I’m an <a href='https://www.youtube.com/watch?v=oaJ3MuazAZ8&t=1s'>entrepreneur</a> who founded companies to help people get easy access to information.  I created <a href='https://en.wikipedia.org/wiki/USA.gov'>USA.gov</a> which won the Harvard’s <a href='https://en.wikipedia.org/wiki/USA.gov'>Innovations in American Government</a> award and was named USA Today’s Site of the Year way back in 2000.  And I’m a registered independent.  My focus is on my two daughters, in second and fifth grade, not politics.
</p>

<p>
These days I help Fortune 500 companies avoid billion-dollar disasters when faced with high uncertainty.  I do this with one simple <a href='http://www.dbinetti.com/#options'>approach</a>: I get them to test their assumptions before they commit to projects.  It seems like such a small, obvious thing, but you’d be amazed how often brilliant, powerful people make tremendously costly mistakes simply because they don’t bother to check something before they act.
</p>

<p>
</p>
</div>
{% endblock content %}
