{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block content %}

<br><br>

<section>
  <h1>
    Update Signature
  </h1>
</section>

<section class='my-5 col-lg-12'>
  <div class='card'>
    <div class='card-title'>
      <h5>
        Signature Form
      </h5>
    </div>
    <div class='card-body'>
      <form method='post' action='{% url "account" %}' role='form'>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.name show_label=False show_help=True placeholder="Name"%}
        {% bootstrap_field form.location show_label=False%}
        {% bootstrap_field form.message show_label=False size='small'%}

        <div class='my-3'>
          <h6>
            Additional Private Information
          </h6>
        </div>

        <div class="form-group form-check-inline">
          {% bootstrap_field form.is_public %}
          {% bootstrap_field form.is_teacher %}
          {% bootstrap_field form.is_doctor %}
        </div>
        {% bootstrap_field form.notes show_label=False size='small'%}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Save
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</section>

<section>
  <p>
  If you need further help, please send an email to Dave at <a href='mailto://dbinetti@startnormal.com'>dbinetti@startnormal.com</a> or call 415.713.2126.</p>
</section>

<section class='my-5'>
  <a href='{% url "delete" %}' class='text-danger'>Delete Signature</a>
</section>
{% endblock content %}
