{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block content %}

<br><br>

<section>
  <h1>
    Update Signature
  </h1>
</section>

<section class='my-5 col-lg-12'>
  <div class='card'>
    <div class='card-header'>
      <h5>Your Signature Preferences</h5>
    </div>
    <div class='card-body'>
      <form method='post' action='{% url "account" %}' class='form-horizontal' role='form'>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.name show_label=False show_help=True placeholder="Name"%}
        {# {% bootstrap_field form.email show_label=False show_help=True placeholder="Email"%} #}
        {% bootstrap_field form.location show_label=False%}
        <div class="form-group form-check-inline">
          <input type="checkbox" name='is_public' class="form-check-input" id="id_is_public">
          <label class="form-check-label" for="id_is_public">List My Name On This Website</label>
        </div>
        <div class="form-group form-check-inline">
          <input type="checkbox" name='is_teacher' class="form-check-input" id="id_is_teacher">
          <label class="form-check-label" for="id_is_teacher">I'm an Educator</label>
        </div>
        <div class="form-group form-check-inline">
          <input type="checkbox" name='is_doctor' class="form-check-input" id="id_is_doctor">
          <label class="form-check-label" for="id_is_doctor">I'm a Physician</label>
        </div>
        {% bootstrap_field form.message show_help=True show_label=False size='small'%}
        {% bootstrap_field form.notes show_help=True show_label=False size='small'%}

        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Update Preferences
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</section>

<section>
  <p>
  If you need further help, please send an email to Dave at <a href='mailto://dbinetti@startnormal.com'>dbinetti@startnormal.com</a> or call 415.713.2126.</p>
</section>

<section class='my-5'>
  <a href='{% url "delete" %}' class='text-danger'>Delete Signature</a>
</section>
{% endblock content %}
