{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Current Students{% endblock title %}
{% block header %}Current Students{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Here is a list of Current Students in nearby schools and grades.
    </p>
  </section>
      <section class='mt-2 mt-5'>
        <div class='card'>
          <div class='card-header'>
            <h4>Current Students</h4>
            <small class='text-muted'>
              Note: this information is only available to registered users and is not publicly available.
            </small>
          </div>
          <div class='card-body'>
              <table class='table table-responsive-lg table-sm'>
                <thead>
                  <tr>
                    <th>
                      Student Name
                    </th>
                    <th>
                      Parent Name
                    </th>
                    <th>
                      Parent Email
                    </th>
                    <th>
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in students %}
                    <tr>
                      <td>
                        {{student.name|default:"(Unknown)"}}
                      </td>
                      <td>
                        {{student.parent}}
                      </td>
                      <td>
                        <a href='mailto:{{student.parent.user.email}}'>{{student.parent.user.email}}</a>
                      </td>
                      <td>
                        <a href='{% url "add-homeroom-student" homeroom.id student.id %}' role='button' class="btn btn-success btn-sm">Add Student</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </section>
{% endblock content %}
{% block scripts %}
  {{form.media}}
{% endblock scripts %}
