{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Step Two of Three{% endblock title %}
{% block header %}Step Two of Three{% endblock header %}
{% block topnav %}{% endblock topnav %}

{% block content %}
  <section class='mb-5'>
    <p class='lead'>
      Enter Student Information
    </p>
    {% if is_more %}
      <p>We've added:
      <ul class='list-styled'>
        {% for student in students %}
          <li>{{student.name}}</li>
        {% endfor %}
      </ul>
      </p>
      <p>
        Add another student below, or skip to <a href='{% url "create-homerooms" %}'>Last Step</a> if you're finished.
      </p>
    {% else %}
      <p>
        Add your first student below.  After that you'll be able to additional students, or skip to the third step.
      </p>
    {% endif %}
  </section>
  <section>
    <div class='card my-5'>
      <div class='card-header'>
        <h4>
          Student Info
        </h4>
      </div>
      <div class='card-body'>
        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.name show_help=False show_label=True size='small' placeholder="Student's First Name/Initials" %}
          {% bootstrap_field form.school show_help=False show_label=True size='small' placeholder='Type to search....' %}
          {% bootstrap_field form.grade show_help=False show_label=True size='small'%}
          {% bootstrap_field form.gender show_help=False show_label=True size='small' %}
          {{form.id}}
          {% if is_more %}
            {% bootstrap_button "Add Another Student" button_type='submit' button_class='btn btn-primary btn-block' size='lg' %}
          {% else %}
            {% bootstrap_button "Add Student" button_type='submit' button_class='btn btn-primary btn-block' size='lg' %}
          {% endif %}
        </form>
      </div>
      {% if is_more %}
        <div class='card-footer'>
          <a href='{% url "create-homerooms" %}' class="btn btn-dark btn-lg btn-block" role='button'>No More Students.  Skip to Last Step</a>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  {{form.media}}
{% endblock scripts %}