{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Connect to Homeroom{% endblock title %}
{% block header %}Connect to Homeroom{% endblock header %}

{% block content %}
  <section class='my-5'>
    <p class='lead mb-5 col-lg-9'>
      Request to join an existing Homeroom <strong>OR</strong> create one of your own.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Open Homerooms</h4>
      </div>
      <div class='card-body'>
        <table class='table table-responsive'>
          <thead>
            <tr>
              <th>
                Room Parent
              </th>
              <th>
                School(s)
              </th>
              <th>
                Grade(s)
              </th>
              <th>
                Student(s)
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            {% for homeroom in homerooms %}
              <tr>
                <td>
                  <a href='{% url "homeroom" homeroom.id %}'>{{homeroom.parent}}</a>
                </td>
                <td>
                  {{homeroom.schools|join:"<br>"|escape|default:"(Empty)"}}
                </td>
                <td>
                  {{homeroom.grades|join:"<br>"|escape|default:"(Empty)"}}
                </td>
                <td>
                  {{homeroom.students.count}}
                </td>
                <td>
                  {{homeroom.get_status_display}}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan=5>
                  (No existing Homerooms match your School and Grade)
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        <p>
          <a href='{% url "create-homeroom" student.id %}' role='button' class='btn btn-success btn-lg'>Create a Homeroom</a>
        </p>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Potential Classmates</h4>
      </div>
      <div class='card-body'>
        <table class='table table-responsive'>
          <thead>
            <th>
              Grade
            </th>
            <th>
              Student Name
            </th>
            <th>
              Parent Name
            </th>
            <th>
              Parent Email
            </th>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <td>
                  {{student.get_grade_display}}
                </td>
                <td>
                  {{student.name}}
                </td>
                <td>
                  {{student.parent.user.name}}
                </td>
                <td>
                  <a href='mailto:{{student.parent.user.email}}'>{{student.parent.user.email}}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        <p>
          <a href='{% url "create-homeroom" student.id %}' role='button' class='btn btn-success btn-lg'>Create a Homeroom</a>
        </p>
      </div>
    </div>
  </section>


{% endblock content %}
