{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Create Cohort{% endblock title %}
{% block header %}Create Cohort{% endblock header %}

{% block content %}
  <section class='my-5'>
    <p class='lead'>
      A cohort is a group of students instructed together.
    </p>
  </section>

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Create Cohort for {{student}}</h4>
      </div>
      <div class='card-body'>
        <p>
          Please give your cohort a name and description.  Afterwards you'll be able to invite other students to join this cohort.  (Your child has automatically been added as to this cohort.)
        </p>
        <form method='post' role='form'>
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_form form %}
          {# {% bootstrap_field form.name %} #}
          {# {% bootstrap_field form.description %} #}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Save Cohort</button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </section>

  <section class='mt-2 ml-2'>
    {# <a href='{% url "delete" %}'><span class='text-danger'>Delete Account</span></a> #}
  </section>
{% endblock content %}
