{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Your Dashboard{% endblock title %}
{% block header %}Your Dashboard{% endblock header %}

{% block content %}

  <section class='my-5'>
    <p class='lead'>
      Your Dashboard allows you to see and update details of your account, either as a Parent, Teacher, or both.
    </p>
  </section>

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Parent Information</h4>
      </div>
      <div class='card-body'>
        {% if parent %}
          <table class='table'>
            <thead>
              <tr>
                <th>
                  Student Name
                </th>
                <th>
                  Student School
                </th>
                <th>
                  Student Grade
                </th>
                {% comment %}
                <th>
                  Student Homeroom
                </th>
                {% endcomment %}
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <td>
                    <a href='{% url "student" student.id %}'>{{student.name|default:"(Unknown)"}}</a>
                  </td>
                  <td>
                    {{student.school}}
                  </td>
                  <td>
                    {{student.get_grade_display}}
                  </td>
                  {% comment %}
                  <td>
                    {% if student.homeroom %}
                      <a href='{% url "homeroom" student.homeroom.id %}'>{{student.homeroom}}</a>
                    {% else %}
                      <a href='{% url "create-homeroom" student.id %}'>Create Homeroom</a>
                    {% endif %}
                  </td>
                  {% endcomment %}
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan=3>
                  <a href='{% url "parent" %}'>Edit this Information</a>
                </td>
              </tr>
            </tfoot>
          </table>
        {% else %}
          <p>
            You are not currently registered as a parent.  <a href='{% url "parent" %}'>Register as Parent</a>
          </p>
        {% endif %}
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>
          Teacher Information
        </h4>
      </div>
      <div class='card-body'>
        {% if teacher %}
          <ul class='list-unstyled'>
            <li>Location: {{teacher.school.city}}</li>
            <li>Credentialed? {{teacher.is_credential|yesno|title}}</li>
            <li>Levels Taught: {{teacher.kinds}}</li>
            <li>Subjects Taught: {{teacher.subjects}}</li>
            <li>Notes: {{teacher.notes|default:"(No Notes)"}}</li>
          </ul>
          <p>
            <a href='{% url "teacher" %}'>Edit this information</a>
          </p>
        {% else %}
          You are not currently registered as a teacher.  <a href='{% url "teacher" %}'>Register as Teacher</a>
        {% endif %}
      </div>
    </div>
  </section>
  <section class='my-5'>
    If you have any questions, concerns, ideas or need support, please feel free to call/text me on my cell at 415.713.2126 or email me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>
  </section>
{% endblock content %}
