{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Your Dashboard{% endblock title %}
{% block header %}Your Dashboard{% endblock header %}

{% block content %}

  <section class='my-5'>
    <p class='lead'>
      Your Dashboard allows you to see and update details of your account, either as a Parent, Teacher, or both.
    </p>
  </section>

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Parent Information</h4>
      </div>
      <div class='card-body'>
        {% if parent %}
          <section class='my-5'>
            <table class='table'>
              <thead>
                <tr>
                  <th>
                    Student School
                  </th>
                  <th>
                    Student Grade
                  </th>
                  <th>
                    Student Homeroom
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                  <tr>
                    <td>
                      {{student.school}}
                    </td>
                    <td>
                      {{student.get_grade_display}}
                    </td>
                    <td>
                      {% if student.homeroom %}
                        <a href='{% url "homeroom" student.homeroom.id %}'>{{student.homeroom}}</a>
                      {% else %}
                        <a href='{% url "create-homeroom" student.id %}'>Create Homeroom</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
        {% else %}
          <p>
            You are not currently registered as a parent.  Register as Parent
          </p>
        {% endif %}
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>
          Teacher Information
        </h4>
      </div>
      <div class='card-body'>
        {% if teacher %}
          <ul class='list-unstyled'>
            <li>{{teacher.school.city}}</li>
            <li>{{teacher.is_credential|yesno}}</li>
            <li>{{teacher.kinds}}</li>
            <li>{{teacher.subjects}}</li>
            <li>{{teacher.notes}}</li>
          </ul>
        {% else %}
          You are not currently registered as a teacher.  Register as Teacher
        {% endif %}
      </div>
    </div>
  </section>

{% endblock content %}
