{% extends 'app/base.html' %}
{% block content %}
<section class='my-5'>
  <div class='row'>
    <div class='col-lg-9'>
      <h2>
        What do the Data Say?
      </h2>
      <p class='lead'>
        Good decisions start with good data.  So, with the obvious acknowledgement that every death is a tragedy, we begin here:
      </p>
      <div class='card my-5'>
        <div class='card-header'>
          <h5>
            Evidence on Covid-19 and Children&nbsp;&nbsp;&nbsp;
            <small class='text-muted float-lg-right'>Updated 1 June 2020</small>
          </h5>
        </div>
        <div class='card-body'>
          <h6 class='card-title'>
            <a href='https://www.smchealth.org/post/san-mateo-county-covid-19-data-1'>From the San Mateo County Covid-19 Dashboard</a>
          </h6>
          <ul class='list-styled'>
            <li>There have been 84 deaths in San Mateo County from Covid-19, or .0001 (one hundredth of one percent) of the population of 727,209.</li>
            <li>65% of deaths have come from nursing home residents.</li>
            <li>67% of deaths have been over the age of 80.</li>
            <li>35% of deaths have been over the age of 90.</li>
            <li>With one exception, all deaths have been over the age of 50.</li>
            <li>ICU bed availability is at 55%, ventilators are at 91%, and surge bed at 95% (we are in no risk of being overwhelmed.)</li>
            <li>There are 57 total Covid-19 hospitalized patients.</li>
          </ul>
          <h6 class='card-title'>
            <a href='https://www.cdc.gov/coronavirus/2019-ncov/index.html'>From the US Centers for Disease Control</a>
          </h6>
          <ul>
            <li>The hospitalization rate for school-aged children in the US is .19 per 100,000.  Serious illness in children is literally one in a million.<sup><a href='https://gis.cdc.gov/grasp/COVIDNet/COVID19_3.html'>1</a></sup></li>
            <li>Deaths are even rarer.  There have been 12 deaths nationwide in children under the age of 18 from Covid-19.  During the same period, 95 children died from influenza (i.e., eight times more likely to die from flu than covid.)<sup><a href='https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-by-Sex-Age-and-S/9bhg-hcku'>2</a></sup></li>
            <li>There have been no deaths in the State of California for anyone under the age of 24.<sup><a href='https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-by-Sex-Age-and-S/9bhg-hcku'>3</a></sup></li>
          </ul>
          <h6 class='card-title'>International Studies</h6>
          <ul>
            <li>An Australian study traced nine infected school students interacting closely with 128 teachers and staff (more than two hours in an indoor classroom multiple classes per day for weeks) and found no transmission to adults.<sup><a href='http://ncirs.org.au/sites/default/files/2020-04/NCIRS%20NSW%20Schools%20COVID_Summary_FINAL%20public_26%20April%202020.pdf'>4</a></sup></li>
            <li>A French study traced a positive Covid-19 student in close contact with 112 teachers and staff over three schools found no transmission to adults.<sup><a href='https://pubmed.ncbi.nlm.nih.gov/32277759/'>5</a></sup></li>
            <li>In Sweden, where schools never closed and function normally, there have been no campus outbreaks or transmission to teachers or staff.<sup><a href='https://doi.org/10.1111/apa.15371'>6</a></sup></li>
            <li>An ongoing longitudinal study in The Dutch National Institute for Public Health and the Environment has found no cases of child to adult transmission.<sup><a href='https://www.rivm.nl/en/novel-coronavirus-covid-19/children-and-covid-19'>7</a></sup></li>
            <li>An Italian town with comprehensive testing found no transmission from children to adults.<sup><a href='https://www.medrxiv.org/content/10.1101/2020.04.17.20053157v1.full.pdf'>8</a></sup></li>
            <li>A German study found the viral loads of children and adults are equivalent, yet can not explain why this hasn’t been reflected empirically.<sup><a href='https://zoonosen.charite.de/fileadmin/user_upload/microsites/m_cc05/virologie-ccm/dateien_upload/Weitere_Dateien/analysis-of-SARS-CoV-2-viral-load-by-patient-age.pdf'>9</a></sup></li>
            <li>A review of the literature by the NIHR was unable to find a single case of child to adult transmission anywhere in the world.  Not one.<sup><a href='https://adc.bmj.com/content/archdischild/early/2020/05/05/archdischild-2020-319474.full.pdf'>10</a></sup></li>
          </ul>
        </div>
        <div class='card-footer'>
          <small class='text-muted'>
          These studies represent the most comprehensive literature on the subject of Covid-19 and children I have found.  If anything is missing, either supporting or refuting the orders, please simply email <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> and it will be included.  Good science means being open and transparent about all the evidence.</small>
        </div>
      </div>

      <p>
          When all this began ten weeks ago none of this was known, and so the intial response was warranted given the uncertainty.  But now that we have these data, does it still make sense to set back the educational, mental, physical and emotional development of our children based on a <em>literally one-in-a-million chance</em> of serious illness, and zero evidence of spread?
      </p>
    </div>
  </div>

</section>
{% endblock content %}