{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Remove Classmate{% endblock title %}
{% block header %}Remove Classmate{% endblock header %}

{% block content %}
<section>
  <p class='lead'>
    Removing this classmate from your Homeroom will not affect the underlying Student information.
  </p>
</section>
<section class='my-5'>
  <form method='post' role='form'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.confirm %}
    {% buttons %}
      <button type="submit" class="btn btn-danger btn-lg btn-block">
        Remove This Classmate from my Homeroom
      </button>
    {% endbuttons %}
  </form>
</section>

{% endblock content %}
