{% extends 'app/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}
{% block header %}Frequently Asked Questions{% endblock header %}

{% block content %}

<section class='my-3'>
  <div class='col-lg-9'>
    <p class='lead'>
      How does this work?
    </p>
    <p class='mb-5 mt-3'>
      It's fairly simple, actually; we're just collecting information from parents and teachers who want in-person education.  When we get enough interest to generate a small, stable cohort of kids in the same area and the same grade, we'll connect everyone to make that happen.
    </p>
    <p class='lead'>
      How much does it cost?
    </p>
    <p class='mb-5 mt-3'>
      It's free to register.  The rate for each teacher will be set individually depending on the length of committment, number of students, etc, but it's reasonable to expect several hundreds of dollars per student per week.
    </p>
    <p class='lead'>
      What about safety?
    </p>
    <p class='mb-5 mt-3'>
      We leave it to adults to make adult decisions, judging the risks and tradeoffs according to their own circumstances.  That said, this is a program designed for low-risk groups (ie, generally young and healthy.)  Teachers with high-risk conditions, or students with family members at eleveated risk, probably shouldn't participate.
    </p>
    <p class='lead'>
      What about masks?
    </p>
    <p class='mb-5 mt-3'>
      Again, we believe adults can make adult decisions based on the available science and evidence.  Each cohort is free to set their own parameters for safety, including masks, distancing, hygenic practices, etc.
    </p>
    <p class='lead'>
      Does this work with Distance Learning?
    </p>
    <p class='mb-5 mt-3'>
      Absolutely.  You could do this in addition to Distance Learning, or have the teacher use the Distance Learning material, or just teach the Distance Learning material yourselves &mdahs; but with in-person, at-home, small-group instruction.  Or it could be a complete replacement to Distance Learning.  Again, it's up to each group to decide for themselves.
    </p>
    <p class='lead'>
      What is taught?
    </p>
    <p class='mb-5 mt-3'>
      The groups themselves can determine their cirriculum along with the instructor.  However, we almost certainly will start with the basics:  reading, writing, artimetic, and social studies.
    </p>
    <p class='lead'>
      Where will they take place?
    </p>
    <p class='mb-5 mt-3'>
      Each group will be free to set their own schedule and venue.  However, we generally expect that instruction will take place at the home of a participating parent.
    </p>
    <p class='lead'>
      What kind of screening or vetting do you do?
    </p>
    <p class='mb-5 mt-3'>
      The groups will have an opportunity to do their own interviews and assessments of instructors, and instructors of students.  These are voluntary associations, and they will only make sense if each participant is comfortable with the teacher/student interaction.
    </p>
    <p class='lead'>
      What is expected of parents?
    </p>
    <p class='mb-5 mt-3'>
      While this will be less of an imposition than distance learning, it will be more than just sending your kids to school.  Parents will need to serve as hosts if their location allows it, and others will need to participate such that students and teachers are always monitored by other adults.  This should not be considered child-care or a "drop and dash" scenario.
    </p>
    <p class='lead'>
      Are you doing this now?
    </p>
    <p class='mb-5 mt-3'>
      Our family has been doing this throughout the summer and it has worked wonderfully.  Our kids have fully caught up from the spring and are back on track.  Most important, they have rekindled that love of learning that was totally absent from screen-based instruction.
    </p>
    <p class='lead'>
      What if I have more questions?
    </p>
    <p class='mb-5 mt-3'>
      I'm sure you will!  Much of this will need to be figured out as we go along.  But if you have questions or ideas then please feel free to let me know by calling/texting me at 415.713.2126 or by email at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.
    </p>
  </div>
</section>

{% endblock content %}
