{% extends 'app/base.html' %}

{% block content %}

<section>
  <h1>
    Frequently Asked Questions
  </h1>
</section>

<section class='mb-5'>
  <p class='lead'>
    Below are answers to some frequently asked questions.
  </p>
</section>
<section>
  <div class='row'>
    <div class='col-sm-9'>
      <div class='mt-5'>
        <h6>
          What's the goal?
        </h6>
        <p class='mx-5'>
          The claim I’m making is from the National Institute for Health Research in Southhampton UK.. The leader of the project is a pediatric infectious disease researching named Alasdair Munro — all of this is cited in the video.  He is simply doing a review of all literature.  Doesn’t make it true, but you can check his sources so that’s more in line with the scientific method.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          Isn't this a risky idea?
        </h6>
        <p class='mx-5'>
          Yes, of course it is.  But we're currently on a path to fundamentally upend the education of 50 million children with long-term consequences to their mental, physical and emotional development we can't begin to imagine; that seems like an even riskier idea than a few volunteers going to summer camp.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          Are you sending your kids?
        </h6>
        <p class='mx-5'>
2.  The counterfactual can never be established, so there's no way to answer.  And I can't provide pre-covid numbers for the same reason.  I can only go with what's there.  Although in general my response would be: are they *really* sheltering in place?  I have no scientific evidence to show this other than increased cell phone traffic on roads, but anecdotally one only need to look around the parks to see large numbers of children playing together, no masks and no distance.  Perhaps it's different where you live.          </p>
      </div>
      <div class='mt-5'>
        <h6>
          How will this program work?
        </h6>
        <p class='mx-5'>
Finally, i'm not sure I can.  Any teacher of advanced age or with conditions should stay as far away from everyone as possible, and I don't see a way around that.  But does that mean everyone?  
But i will say this:  in Denmark the public health officials worked with the education ministry to *allay* fears based on what they knew, and produced a reasonable compromise of no masks and increased distance which appears to be working (and has since april).  We are doing the exact opposite, raising anxiety and claiming catastrophe is imminent -- he literally used the word 'catastrophe' -- and that's really irresponsible given the actual data.        </p>
      </div>
      <div class='mt-5'>
        <h6>
          How will the camps run?
        </h6>
        <p class='mx-5'>
i can only speak to SM county, but i think they were incredibly short-sighted to not include parents and teachers in the process and present it as a fait accompli.  that could have been due to constraints, could have been deliberate, but in the end will be counter-productive.  you simply can't impose this degree of change without bringing people along throughout the process.        </p>
      </div>
      <div class='mt-5'>
        <h6>
          Aren't you worried about the virus?
        </h6>
        <p class='mx-5'>
          Yes, obviously there is some apprehension.  But the available evidence shows fairly clearly that while children do get the virus, their risk of serious illness or transmission to others is extremely rare, so the worry is tempered by data.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          What about spreading the virus to adults?
        </h6>
        <p class='mx-5'>
          Studies show that children carry viral loads equal to adults, but for whatever reason we don't see evidence of actual transmission.  We have clear evidence of adults transmitting to children, and of adults transmitting to other adults; those cases can and have been tracked with great precision.  Yet authorities have yet to find a single case of child to adult transmission anywhere in the world, even when looking closely at infected children who spent protracted periods with adults under close-contact scenarios. This doesn't mean it isn't possible, but as of yet the evidence of super-spreaders, or any spread for that matter, is non-existent.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          Why sleepaway camps?
        </h6>
        <p class='mx-5'>
          Starting with sleepaway camps makes sense since they are completely isolated.  Thus, if children do turn out to be spreaders, then the actual incidence of infection can be completely contained within the camp.  Residential camps are also closer environments, with children spending all day and sleeping together at night, and if there is no spread under these conditions then schools by comparison will be even lower.  If sleepaways work, then perhaps we can extend to daily recreational camps to further test as well.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          What if someone tests positive?
        </h6>
        <p class='mx-5'>
          Ultimately the study design is up to the researchers, but the point is to measure and track the spread of Covid-19 as it would in a school environment.  Medical professionals will be on hand to make appropriate decisions, but the point would be to maintain normalcy as much as possible.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          How would it work for camp operators?
        </h6>
        <p class='mx-5'>
          Camp operators would have legal protection under the program, allowing for normal operation with all activites and no restrictions on distance, shared items or personal protective equipment.  Kids will be kids, and camps will be camps.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          Who would pay for this?
        </h6>
        <p class='mx-5'>
          As of now, particpants would function normally, including paying for the camp.  If funding from government sources became available that would certainly be considered.
        </p>
      </div>
      <div class='mt-5'>
        <h6>
          How do I get more information?
        </h6>
        <p class='mx-5'>
          Please contact David Binetti at <a href='mailto:dbinetti@campdata.com'>dbinetti@campdata.com</a> and we'll do our best to respond.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
