{% extends 'app/base.html' %}
{% block title %}
  San Mateo Reopening Schools Framework
{% endblock title%}
{% block content %}
<div class='col-lg-10'>
<p>
  My name is David Binetti, and like you I’m concerned about my children going back to school.  I’m apprehensive about their safety.  I’m worried about their education.  And I’m looking for answers.
</p>

<p>
  I joined the Reopening Schools committee to get some of those answers, and was told that the County Board of Education was putting together a framework that would guide the school re-openings.  This document was shared with administrators, but was being withheld from parents and school board members while in draft form.  This bothered me since parents obviously should have input before the document becomes final.
</p>

<p>
But I managed to get a copy of it anyway and want to share some of that with you now.  Sadly, it produced more questions than answers.
</p>

<p>
Before I get into that, just ten seconds about myself so you know where I’m coming from.  I’m an <a href='https://www.youtube.com/watch?v=oaJ3MuazAZ8&t=1s'>entrepreneur</a> who founded companies to help people get easy access to information.  I created <a href='https://en.wikipedia.org/wiki/USA.gov'>USA.gov</a> which won the Harvard’s <a href='https://en.wikipedia.org/wiki/USA.gov'>Innovations in American Government</a> award and was named <a href='https://www.usatoday.com'>USA Today</a>’s Site of the Year way back in 2000.  And I’m a registered independent.  My focus is on my two daughters, in second and fifth grade, not politics.
</p>

<p>
These days I help Fortune 500 companies avoid billion-dollar disasters when faced with high uncertainty.  I do this with one simple <a href='http://www.dbinetti.com/#options'>approach</a>: I get them to test their assumptions before they commit to projects.  It seems like such a small, obvious thing, but you’d be amazed how often brilliant, powerful people make tremendously costly mistakes simply because they don’t bother to check something before they act.
</p>

<p>
And that’s why I’m so worried about the Schools Recovery Framework.  It draws conclusions based on assumptions that don’t pass even simple tests.  I’ve seen this movie before, and it doesn’t end well.
</p>

<p>
All told, there are four main components to the framework, marketed as the “Four Pillars”: hygiene, masks, distance and gatherings.
</p>

<p>
<strong>Hygenie</strong> is mostly about washing hands and cleaning facilities and aside from some irritated skin from too much hand sanitizer is largely a reasonable assumption.  They mandate daily temperature checks on children which is likely to create some privacy concerns, but hygiene is at least doable.
</p>

<p>
<strong>Masks</strong> are more problematic.  They are expected to be worn at all times by all staff, visitors, and students from K through 12.  The framework cites an extensive review by an international consortium of scientists which found that well-fitting masks reduce transmissibility, which is true.  But the key assumption is “well-fitting”, which means that the wearers have to put them on properly and keep them on at all times.  This is a plausible assumption for high school, and perhaps upper middle.  But at elementary school and below this is wholly unrealistic.  Masks will be required until there is a vaccine.
</p>

<p>
<strong>Distance</strong> is the requirement that students and staff stay six feet apart at all times, and is far and away the most unrealistic assumption.  Due to classroom size constraints, the framework mandates a staggered schedule where half the students receive in-person instruction and half distance-learning, but that assumes teachers do both in-person and distance learning simultaneously.  Now our teachers are miracle workers in many ways, but doing two jobs at the same time is a mathematical impossibility — and that is before the budget cuts.  I could continue to provide dozens of examples where distance assumption fails against reality, but the fact the framework doesn’t address this very obvious issue with teachers is a little troubling.
</p>

<p>
<strong>Gatherings</strong> prohibits all ‘non-required’ activities, including drama, music, sports, assemblies, libraries, cafeterias and physical education (aside from solitary activities).  This assumes that these are ‘non-required’, with which many parents and child development professionals disagree.
</p>

<p>
And at the core, there is the foundational assumption that these changes will be only necessary for 12-18 months until a vaccine is developed.  The basis for this assumption comes from a quote from the coronavirus task force leader, Dr. Anthony Fauci.  “Dr. Fauci has indicated it will take between 12-18 months to develop a vaccine”, and so the plan is centered around that time frame.  But when you read the <a href='https://www.businessinsider.com/coronavirus-vaccine-quest-18-months-fauci-experts-flag-dangers-testing-2020-4'>actual article</a>, Dr. Fauci says it would take <em>at least</em> that long, and that no expectations should be made based on his estimates.
</p>

<p>
For some additional context on how difficult this process can be, here is Dr. Fauci in a New York Times headlined “Human tests predicted soon”.
</p>

<p>
“Testing on humans for some vaccine could take place as early as the end of this year,” said Dr Anthony S. Fauci.   His statement grew out of his awareness that many approaches to a vaccine were being explored and his assumption that one or another of them would be ready for human testing soon.  “But even if we do have a vaccine,” Fauci said, “we don't expect it to be available for widespread use until well into the 1990’s.”
</p>

<p>
If you’re confused by that last sentence, it’s because the <a href='https://www.nytimes.com/1987/01/16/us/human-tests-soon-predicted-in-quest-of-aids-vaccine.html'>article</a> was written on January 16, 1987, and Dr. Fauci was talking about the AIDS vaccine.   In February 3, 2020, an <a href='https://www.reuters.com/article/us-health-hiv-vaccine/trial-of-promising-hiv-vaccine-halted-after-failing-to-show-benefit-idUSKBN1ZX2QO'>update</a>:  “An HIV vaccine is essential to end the global pandemic and we hoped this vaccine candidate would work. Regrettably, it does not,” said NIH infectious diseases chief Dr. Anthony Fauci.
</p>

<p>
Now Covid-19 and HIV are totally different in myriad ways and I am not besmirching Dr. Fauci.  I only bring it up because experts are often wrong, even brilliant, well-intentioned experts.  So rather than base our entire plan around a quote in a news article, we should focus on actual evidence.  Plotkin’s “Vaccines”, the reference text on the subject since 1988, notes actual vaccine development time averages over ten years.
</p>

<p>
Now Covid-19 could be different, and we all hope that to be the case.  But hope is not a strategy.  How does our planning change when we use the average estimate of ten years?   My daughter would go through BA, Arroyo, Central, and Sequoia through to graduation wearing a mask and not touching a fellow student.  And if that seems impossible, remember we were originally told two weeks, then a month, then two months, then the summer, and now only 12-18 months more.  Unrealistic timetables that continue to slip and slip and slip are the starting point for every corporate disaster I’ve ever experienced and that is happening here.
</p>

<p>
I’ll share more about the document as I continue to process it.  But the entire underlying foundation is a recklessly optimistic timetable and three of the four pillars are flimsily constructed and won’t hold our children’s weight.  And when all this comes crashing down everyone will suffer.
</p>

<p>
</div>
{% endblock content %}