{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Invite Student{% endblock title %}
{% block header %}Invite Student{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Invite a Student to your Homeroom.
    </p>
    <p>
      There are three ways to invite a classmate to your homeroom:
      <ul class='list-styled'>
        <li>Choose from the list of existing students below.</li>
        <li>Send an email to a friend using our form.</li>
        <li>
          Send your own email to a friend using this link:<br>
          {{invite_link}}
        </li>
      </ul>
    </p>
  </section>
  <section class='my-5'>
    <form method='post'>
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      {% bootstrap_field form.email show_label=False show_help=False placeholder='Invite email'  %}
      {% bootstrap_field form.message show_label=False show_help=False placeholder='Include a message inviting the student to your homeroom.' %}
      {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg btn-block" >
          Invite Student
        </button>
      {% endbuttons %}
    </form>
  </section>
  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Available Schoolmates</h4>
      </div>
      <div class='card-body'>
        <table class='table table-reponsive-lg'>
          <thead>
            <th>
              Grade
            </th>
            <th>
              Student Name
            </th>
            <th>
              Parent Name
            </th>
            <th>
              Parent Email
            </th>
            <th>
              Add
            </th>
          </thead>
          <tbody>
            {% for schoolmate in schoolmates %}
              <tr>
                <td>
                  {{schoolmate.get_grade_display}}
                </td>
                <td>
                  {{schoolmate.name}}
                </td>
                <td>
                  {{schoolmate.parent.user.name}}
                </td>
                <td>
                  <a href='mailto:{{schoolmate.parent.user.email}}'>{{schoolmate.parent.user.email}}</a>
                </td>
                <td>
                  <a href='{% url "add-homeroom-student" homeroom.id schoolmate.id %}'>Add</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        <p>
        </p>
      </div>
    </div>
  </section>
{% endblock content %}

