{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Homeroom{% endblock title %}
{% block header %}Homeroom{% endblock header %}

{% block content %}
  <section class='my-5'>
    <p class='lead'>
      The Homeroom is a stable cohort of students you choose.
    </p>
    <p>
      Invite other parents to have their children join your Homeroom by sending them this link:
    </p>
    <p>
      <a href='{{homeroom_link}}'>{{homeroom_link}}</a>
    </p>
    <p>
      We'll keep you updated as they join, and you can adjust your Homeroom at any time.  When you get to five students, we'll find a teacher to provide instruction to your Homeroom.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>
          Details
        </h4>
      </div>
      <div class='card-body'>
        <p>
          <form method='post' role='form'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.name %}
            {% bootstrap_field form.max_size %}
            {% bootstrap_field form.description %}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Save Homeroom Details
              </button>
            {% endbuttons %}
          </form>
        </p>
      </div>
    </div>
  </section>

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Current Students</h4>
      </div>
      <div class='card-body'>
        <div>
          <p class='lead'>
            Student School(s): {{schools}}<br>
            Student Grade(s): {{grades}}
          </p>
        </div>
        <div class='table-responsive-lg mb-5'>
          <table class='table table-sm'>
            <thead>
              <tr>
                <th>
                  Parent Name
                </th>
                <th>
                  Parent Email
                </th>
                <th>
                  Student Grade
                </th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <td>
                    {{student.parent}}
                  </td>
                  <td>
                    {{student.parent.user.email}}
                  </td>
                  <td>
                    {{student.get_grade_display}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class='mt-2 ml-2'>
    {# <a href='{% url "delete" %}'><span class='text-danger'>Delete Account</span></a> #}
  </section>
{% endblock content %}
