{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Invite Student{% endblock title %}
{% block header %}Invite Student{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Add a Student to your Homeroom.
    </p>
    <p>
      The easiest way to invite others to your Homeroom is through this link:<br>
    </p>
    <h5 class='m-5'>
      {{homeroom_link}}
    </h5>
    <p>
      You can also just add students directly through the following form.
    </p>
  </section>
  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Add Student</h4>
      </div>
      <form method='post'>
        <div class='card-body'>
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.student_name show_label=False show_help=False placeholder='Student Name'  %}
          {% bootstrap_field form.parent_name show_label=False show_help=False placeholder='Parent Name'  %}
          {% bootstrap_field form.parent_email show_label=False show_help=False placeholder='Parent Email'  %}
          {# {% bootstrap_field form.message show_label=False show_help=False placeholder='Include a message inviting the student to your homeroom (optional)' %} #}
        </div>
        <div class='card-footer'>
          {% bootstrap_button "Add Student" size='lg' button_type='submit' button_class='btn-success'%}
        </div>
      </form>
    </div>
  </section>
  {% comment %}
  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Available Schoolmates</h4>
      </div>
      <div class='card-body'>
        <table class='table table-reponsive-lg'>
          <thead>
            <th>
              Grade
            </th>
            <th>
              Student Name
            </th>
            <th>
              Parent Name
            </th>
            <th>
              Parent Email
            </th>
            <th>
              Add
            </th>
          </thead>
          <tbody>
            {% for schoolmate in schoolmates %}
              <tr>
                <td>
                  {{schoolmate.get_grade_display}}
                </td>
                <td>
                  {{schoolmate.name}}
                </td>
                <td>
                  {{schoolmate.parent.user.name}}
                </td>
                <td>
                  <a href='mailto:{{schoolmate.parent.user.email}}'>{{schoolmate.parent.user.email}}</a>
                </td>
                <td>
                  <a href='{% url "add-homeroom-student" homeroom.id schoolmate.id %}'>Add</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan=5>
                  (There are no schoolmates currently available.)
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        <p>
        </p>
      </div>
    </div>
  </section>
  {% endcomment %}
{% endblock content %}

