{% extends 'app/base.html' %}

{% block content %}
<br>
<section>
  <h1>
    Start Normal! <a href='{% url "authorize" %}'>Auth0</a>
  </h1>
</section>


<section class='py-3'>
  <div id='id_wistia'>

    <script src="https://fast.wistia.com/embed/medias/pstpotj1x9.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_pstpotj1x9 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>

  </div> <!-- end wistia -->

  <div class='jumbotron'>
    <h2>
      Modify the Four Pillars
    </h2>
    <p class='lead my-5'>
      The <a href='{% url "morrow"%}'>San Mateo Public Health Officer</a> has called to modify the "Four Pillars" in light of child development needs, and clarified the districts must decide on their own reopening policies.  To advocate for your children, go to your <a href='{% url "districts" %}'>District</a>.
    </p>
    <p class='my-5'>
      <a href='{% url "districts" %}' role='button' class="btn btn-primary btn-lg">
        Get Involved
      </a>
      <a href='{% url "learn" %}' role='button' class='btn btn-light btn-lg mx-2'>
        Get Informed
      </a>
    </p>
    <br><br>
    <p>
      <small class='text-muted'>Note: Now that we have accomplished our main mission we are no longer actively seeking petition signatures; however, you can still sign and view the <a href='{% url "petition" %}'>original petition</a>.</small>
    </p>
  </div>
</section>

{% endblock content %}
