{% extends 'app/base.html' %}

{% block title %}Invite{% endblock title%}


{% block content %}

<section>
  <div>
    <section>
      <p class='my-3 lead'>
        You have been invited to join {{parent}}'s Homeroom.
      </p>
      <h6>Current Students in this Homeroom</h6>

      <table class='table'>
        <th>
          Name
        </th>
        <th>
          School
        </th>
        <th>
          Grade
        </th>
        {% for classmate in classmates %}
          <tr>
            <td>
              {{classmate.student.name}}
            </td>
            <td>
              {{classmate.student.school}}
            </td>
            <td>
              {{classmate.student.get_grade_display}}
            </td>
          </tr>
        {% endfor %}

      </table>
      <p class='lead my-3'>
        To accept this invitation <a href='{% url "signup" homeroom.id %}'>Register for Free</a> or read our <a href='{% url "faq" %}'>FAQ</a> to learn more.
      </p>

      <p class='my-3'>
        <strong>Start Normal</strong> is a network of parents and teachers seeking in-person, at-home, small-group instruction for low-risk groups.  If you're looking for a supplement/alterative to Distance Learning, this is for you.
      </p>
    </section>
  </div>
</section>
{% endblock content %}
