{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Join Homeroom{% endblock title %}
{% block header %}Join Homeroom{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Join {{homeroom}}
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Student Form</h4>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_form form %}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" >
                Save
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>

      <div class='card-footer'>
        <p class="card-text">
          <small class='text-muted'>Please contact <a href='dbinetti@startnormal.com'>dbinetti@startnormal.com</a> if you have any questions or need support.</small>
        </p>
      </div>
    </div>
  </section>

  <section class='mt-2 ml-2'>
    {# <a href='{% url "delete-student" student.id %}'><span class='text-danger'>Delete Student</span></a> #}
  </section>


{% endblock content %}
{% block scripts %}
  {{form.media}}
{% endblock scripts %}
