{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Join Homeroom{% endblock title %}
{% block header %}Join Homeroom{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Join an existing Homeroom.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    I am hard at work to create a tool to easily join an existing homeroom or create a new one.  Until then, please email me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> or call/text me at 415.713.2126 with the name of your student and the homeroom you wish to join and I'll add you directly.
  </section>
{% endblock content %}
