{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block content %}
<section class='my-5 col-lg-9'>
<h2>
  Mike Callagy<br>
  San Mateo County Executive
<br><br><br>
  Dear Mr. Callagy,
</h2>

  <p>
    We, the undersigned parents, are gravely concerned that, as drafted, the reopening schools framework will not allow for in-person instruction.  The document purports to balance the potentially "lifelong adverse ramifications" to child development against the need to protect high-risk adults from community spread, yet there are no data provided to back up the conclusions reached.
  </p>
  <p>
    We have repeatedly reached out to the primary driver of the document, San Mateo County Public Health Officer Dr. Scott Morrow, to no avail.  Multiple attempts made in good faith, both directly and indirectly -- including through a
    personal appeal from a Supervisor -- have been ignored.  This dismissive behavior only heightens our concern, since his decisions take away the power of our local school boards whom we elected to represent our children's interests.
  </p>
  <p>
    We believe Dr. Morrow should broaden his considerations to include the impact on social-emotional learning, two working-parent families, and the adverse mental health and despair deaths when considering the impact on high-risk adults.  Most of all, if Dr. Morrow is to invoke "science" in support of the framework, he must employ the basis on which hypothesis are evaluated: evidence.

    The burden is on the Public Health Officer to support his decision and persuade parents that the tradeoffs he made were in the best interest of the community at large.
  </p>


  <p>
    Respectfully,
    Parents of San Mateo County Schoolchildren
  </p>
<p>

</p>
</section>
<section class='mt-2 col-lg-9'>
  <form method='post' action='{% url "letter" %}' class='form-horizontal' role='form'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.name show_label=False show_help=True placeholder="Name"%}
    <div class='row'>
      <div class='col-9'>
        {% bootstrap_field form.email show_label=False show_help=True placeholder="Private Email"%}
      </div>
      <div class='col-3'>
        <div class="form-group form-check-inline">
          <input type="checkbox" name='is_subscribed' checked=checked class="form-check-input" id="id_is_subscribed">
          <label class="form-check-label" for="id_is_subscribed">Send Updates</label>
        </div>
      </div>
    </div>
    {% bootstrap_field form.location show_label=False%}
    {% bootstrap_field form.notes show_label=False size='small' placeholder="Private Notes"%}
    {% buttons %}
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Add My Name
      </button>
    {% endbuttons %}

    {% comment %}
    {% if form.subject.errors %}
      <ol role="alertdialog">
          {% for error in form.subject.errors %}
          <li role="alert"><strong>{{ error|escape }}</strong></li>
          {% endfor %}
      </ol>
    {% endif %}
    <div class="form-group p-1">
      {{form.name}}
    </div>
    <div class="form-group p-1">
      {{form.city}}
    </div>
    <div class="form-group p-1">
      {{form.email}}
    </div>
    <div class="form-group p-1">
      {{form.is_public}}
    </div>
    <div class="form-group p-1">
      {{form.is_subscribed}}
    </div>
    <div class="form-group p-1">
      {{form.notes}}
    </div>
    <div class="form-group p-1">
      <button type="submit" class="btn btn-primary form-control">Add My Name</button>
    </div>
    {% endcomment %}
  </form>
</section>
<section class='my-5'>
</section>

<section class='my-5 col-lg-9'>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><strong>Note:</strong>
        Your information will not be sold or shared or anything like that.  I have no interest changing the world or making money off this -- I'm just a dad who wants his kids to have a normal childhood.  When this is over all data will be deleted in its entirety and in the meantime is protected by secured servers.
      </p>
    </div>
  </div>
</section>

{% endblock content %}
