{% extends 'app/base.html' %}

{% block content %}
<section class='my-5'>
<h2>
  San Mateo County Board of Supervisors,
</h2>
  <p>
    We believe that your appointed Public Health Officer, Dr. Scott Morrow, is setting back 100,000 schoolchildren in San Mateo County, both public and private, through overly broad and inequitable policies unsupported by evidence.  He's favoring adults over kids, but it's a false choice that will harm both.
  </p>
  <p>
    We insist that Dr. Morrow implement an age-stratified policy that reflects the latest data in the fight against Covid-19 showing both illness and spread in children are extremely rare.  His one-size-fits-all policy treats 8-year-old second graders the same as 88-year-old nursing home residents even though they have radically different risk profiles and development needs.
  </p>
  <p>
    Protect our kids.  They will never get another childhood, and discarding it on the basis of fear in contradiction to data is morally indefensible.
  </p>
</section>
<section class='mt-2 col-lg-9'>
  <form method='post' action='{% url "letter" %}' class='form-horizontal' role='form'>
    {% csrf_token %}
    {% if form.subject.errors %}
      <ol role="alertdialog">
          {% for error in form.subject.errors %}
          <li role="alert"><strong>{{ error|escape }}</strong></li>
          {% endfor %}
      </ol>
    {% endif %}
    <div class="form-group p-1">
      {{form.name}}
    </div>
    <div class="form-group p-1">
      {{form.city}}
    </div>
    <div class="form-group p-1">
      {{form.email}}
    </div>
    <div class="form-group p-1">
      {{form.notes}}
    </div>
    <div class="form-group p-1">
      <button type="submit" class="btn btn-primary form-control">Add My Name</button>
    </div>
  </form>
</section>
<section class='mt-2 col-lg-9'>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><strong>Note:</strong>  Your Name and City will be added to the letter and the website.  It is much more powerful to include your actual Name, but otherwise indicate as "Anonymous".  Your email will not be shared; it will simply be used to provide updates.</p>
    </div>
  </div>
</section>
{% endblock content %}
