{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block content %}
<section class='my-5 col-lg-9'>
<h2>
  San Mateo County Board of Supervisors,
</h2>
  <p>
    We believe that your appointed Public Health Officer, Dr. Scott Morrow, is setting back 100,000 schoolchildren in San Mateo County, both public and private, through overly broad and inequitable policies unsupported by evidence.  He's favoring adults over kids, but it's a false choice that will harm both.
  </p>
  <p>
    We insist that Dr. Morrow implement an age-stratified policy that reflects the latest data in the fight against Covid-19 showing both illness and spread in children are extremely rare.  His one-size-fits-all policy treats 8-year-old second graders the same as 88-year-old nursing home residents even though they have radically different risk profiles and development needs.
  </p>
  <p>
    Protect our kids.  They will never get another childhood, and discarding it on the basis of fear in contradiction to data is morally indefensible.
  </p>
</section>
<section class='mt-2 col-lg-9'>
  <form method='post' action='{% url "letter" %}' class='form-horizontal' role='form'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.name show_label=False show_help=True placeholder="Private Name"%}
    {% bootstrap_field form.handle show_label=False show_help=True placeholder="Public Name"%}
    <div class='row'>
      <div class='col-9'>
        {% bootstrap_field form.email show_label=False show_help=True placeholder="Private Email"%}
      </div>
      <div class='col-3'>
        <div class="form-group form-check-inline">
          <input type="checkbox" name='is_subscribed' checked=checked class="form-check-input" id="id_is_subscribed">
          <label class="form-check-label" for="id_is_subscribed">Send Updates</label>
        </div>
      </div>
    </div>
    {% bootstrap_field form.location show_label=False%}
    {% bootstrap_field form.notes show_label=False size='small' placeholder="Private Notes"%}
    {% buttons %}
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Add My Name
      </button>
    {% endbuttons %}

    {% comment %}
    {% if form.subject.errors %}
      <ol role="alertdialog">
          {% for error in form.subject.errors %}
          <li role="alert"><strong>{{ error|escape }}</strong></li>
          {% endfor %}
      </ol>
    {% endif %}
    <div class="form-group p-1">
      {{form.name}}
    </div>
    <div class="form-group p-1">
      {{form.city}}
    </div>
    <div class="form-group p-1">
      {{form.email}}
    </div>
    <div class="form-group p-1">
      {{form.is_public}}
    </div>
    <div class="form-group p-1">
      {{form.is_subscribed}}
    </div>
    <div class="form-group p-1">
      {{form.notes}}
    </div>
    <div class="form-group p-1">
      <button type="submit" class="btn btn-primary form-control">Add My Name</button>
    </div>
    {% endcomment %}
  </form>
</section>
<section class='my-5'>
</section>
{% comment %}
<section class='my-5 col-lg-9'>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><strong>Note:</strong>
        Your name will serve as a signature on the letter, but otherwise will remain private..  On the website names will be shown as Initials-Only, unless you indicate "You May Show My Name Publicly".  Email and Notes are always kept private.  Choose "You May Email Me Updates" to receive periodic updates.
      </p>
    </div>
  </div>
</section>
{% endcomment %}
{% endblock content %}
