<section class='my-1'>
  <div class='row'>
    <div class='col-lg-9'>
      <p>
        Dr. Morrow,
      </p>
      <p>
        Good decisions start with good data.  So, with the obvious acknowledgement that every death is a tragedy, we begin here:
      </p>
      <div class='card my-5'>
        <div class='card-header'>
          <h5>
            Evidence on Covid-19 and Children&nbsp;&nbsp;&nbsp;
            <small class='text-muted float-lg-right'>Updated 30 May 2020</small>
          </h5>
        </div>
        <div class='card-body'>
          <h6 class='card-title'>
            <a href='https://www.smchealth.org/post/san-mateo-county-covid-19-data-1'>From the San Mateo County Covid-19 Dashboard</a>
          </h6>
          <ul class='list-styled'>
            <li>There have been 82 deaths in San Mateo County from Covid-19, or .0001 (one hundredth of one percent) of the population of 727,209.</li>
            <li>67% of deaths have been over the age of 80.</li>
            <li>35% of deaths have been over the age of 90.</li>
            <li>65% of deaths have come from nursing home residents.</li>
            <li>With one exception, all deaths have been over the age of 50.</li>
            <li>ICU bed utilization is at 52%, ventilators are at 9%, and surge bed at 3% (ie, 48%, 91% and 97% availability, respectively).
          </ul>
          <h6 class='card-title'>
            <a href='https://www.cdc.gov/coronavirus/2019-ncov/index.html'>From the US Centers for Disease Control</a>
          </h6>
          <ul>
            <li>The hospitalization rate for school-aged children in the US is .19 per 100,000.  Serious illness in children is literally one in a million.<sup><a href='https://gis.cdc.gov/grasp/COVIDNet/COVID19_3.html'>1</a></sup></li>
            <li>Deaths are even rarer.  There have been 12 deaths nationwide in children under the age of 18 from Covid-19.  During the same period, 95 children died from influenza (i.e., eight times more likely to die from flu than covid.)<sup><a href='https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-by-Sex-Age-and-S/9bhg-hcku'>2</a></sup></li>
            <li>There have been no deaths in the State of California for anyone under the age of 24.<sup><a href='https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-by-Sex-Age-and-S/9bhg-hcku'>3</a></sup></li>
          </ul>
          <h6 class='card-title'>International Studies</h6>
          <ul>
            <li>An Australian study traced nine infected school students interacting closely with 128 teachers and staff (more than two hours in an indoor classroom multiple classes per day for weeks) and found no transmission to adults.<sup><a href='http://ncirs.org.au/sites/default/files/2020-04/NCIRS%20NSW%20Schools%20COVID_Summary_FINAL%20public_26%20April%202020.pdf'>4</a></sup></li>
            <li>A French study traced a positive Covid-19 student in close contact with 112 teachers and staff over three schools found no transmission to adults.<sup><a href='https://pubmed.ncbi.nlm.nih.gov/32277759/'>5</a></sup></li>
            <li>In Sweden, where schools never closed and function normally, there have been no campus outbreaks or transmission to teachers or staff.<sup><a href='https://doi.org/10.1111/apa.15371'>6</a></sup></li>
            <li>An ongoing longitudinal study in The Dutch National Institute for Public Health and the Environment has found no cases of child to adult transmission.<sup><a href='https://www.rivm.nl/en/novel-coronavirus-covid-19/children-and-covid-19'>7</a></sup></li>
            <li>An Italian town with comprehensive testing found no transmission from children to adults.<sup><a href='https://www.medrxiv.org/content/10.1101/2020.04.17.20053157v1.full.pdf'>8</a></sup></li>
            <li>A German study found the viral loads of children and adults are equivalent, yet can not explain why this hasn’t been reflected empirically.<sup><a href='https://zoonosen.charite.de/fileadmin/user_upload/microsites/m_cc05/virologie-ccm/dateien_upload/Weitere_Dateien/analysis-of-SARS-CoV-2-viral-load-by-patient-age.pdf'>9</a></sup></li>
            <li>A review of the literature by the NIHR was unable to find a single case of child to adult transmission anywhere in the world.  Not one.<sup><a href='https://adc.bmj.com/content/archdischild/early/2020/05/05/archdischild-2020-319474.full.pdf'>10</a></sup></li>
          </ul>
        </div>
        <div class='card-footer'>
          <small class='text-muted'>
          These studies represent the most comprehensive literature on the subject of Covid-19 and children I have found.  If anything is missing, either supporting or refuting the orders, please simply email <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> and it will be included.  Good science means being open and transparent about all the evidence.</small>
        </div>
      </div>

      <p>
          When all this began ten weeks ago none of this was known, and so the intial response was warranted given the uncertainty.  But now that we have these data, does it still make sense to set back the educational, mental, physical and emotional development of our children based on a <em>literally one-in-a-million chance</em> of serious illness, and zero evidence of spread?
      </p>
      <p>
        Much of the controversy has been on the economic costs of your orders, but we take no position on that or any other politics.  We're focused on the educational and mental health of our children.  A 2012 neuroscience study</a> found that primates denied social interaction during juvenile development resulted in hippocampal neurogenesis that lasted to adulthood &mdash; it rewired their brains permanently<sup><a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3973924/'>11</a></sup>.  Now what happens in monkeys might not translate to humans, but we don't need to be neuroendocrinologists to see the effects of social isolation on our children every day this continues.
      </p>
      <p>
        When parents realize distance learning will continue at least the 12-18 months you estimate (which itself is a deeply irresponsible given the uncertainty around vaccine development) they will take their children to other districts where superintendents have already announced their intention to operate normally in the Fall.  Some have already left, and it will accelerate.  And then our schools will have to contend with plummeting enrollment in addition to already severe budget cuts.
      </p>
      <p>
        We are reasonable adults.  No one wants their children to get sick, nor our teachers, nor ourselves.  And there are clearly populations that are at elevated risk.  But our children are not, and it is simply unfathomable your policies do not differentiate between 8-year old second graders and 88-year old nursing home residents despite their diametrically opposed risk profiles and developmental needs.  If there is evidence to support the one-size-fits-all policy please present it so we can reconsider.
      </p>
      <p>
        We hope that you will reconsider as well, particuarly since you acknowledge in your April 13 Petition that “the models we’re using to predict our future state don’t seem to be able to account for (the lowering of the rate of infection by the restrictions alone)”.  In other words, the models were wrong.  And that’s fine, models are often wrong, sometimes dramatically so.  You did the best with what you had at the time.  But continuing to reject all the new information on top of the acknowledgement that your own models are flawed, the justification for destroying our school districts grows weaker still.  The way to alleviate any such concerns is to show the data which supports your decisions.
      </p>

      <p>
        We’ve reviewed your statements and orders.  There are assumptions.  There are counterfactuals.  There is even scolding.  But what is entirely lacking is evidence.  In fact, you specifically refuse to provide certain data because, paraphrasing, you do not believe we are capable of processing it — instead relying on your own “best guesses” to formulate policy.  This is absurd on its face.  You may have the legal right to impair the education of more than 100,000 children in the county based solely on your personal judgement, but to do so without evidence is morally indefensible.
      </p>

      <p>We have provided studies from trusted sources including the CDC and your own office.  Please reciprocate and provide evidence that supports your orders &mdash; not models, not expert opinions, not counterfactuals which couldn't survive a high-school debate competition &mdash; but evidence.  And if you can not or will not, then you have an obligation to yield to the districts to decide what is in the best interest of their students and staff.</p>
    </div>
  </div>

</section>
