{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Introduction to Homerooms{% endblock title %}
{% block header %}Introduction to Homerooms{% endblock header %}

{% block content %}
  <section class='my-5'>
    <p class='lead mb-5'>
      Choose your Homeroom
    </p>
  </section>
  <section class='my-5'>
    <p>
      A Homeroom is a pod of students to be taught together as a group.  If you already know who you want in your Homeroom, choose "Create Homeroom".  Otherwise, choose "Join Homeroom".
    </p>
    <p>
      If you have multiple students that you want in the same Homeroom, then create a Homeroom for the first child, and then join the Homeroom you just created for your other students.
    </p>
  </section>
  <section class='my-5'>
    <table class='table table-responsive'>
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Create Homeroom
          </th>
          <th>
            Join Homeroom
          </th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>
              {{student.name}}
            </td>
            <td>
              <a href='{% url "create-homeroom" student.id %}'>Create Homeroom</a>
            </td>
            <td>
              {# <a href='{% url "join-homeroom" student.id %}'>Join Homeroom</a> #}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock content %}