{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Parent Information{% endblock title %}
{% block header %}Parent Information{% endblock header %}
{% block topnav %}{% endblock topnav %}

{% block content %}
<section class='mb-5'>
  <p class='lead'>
    Please update preferences and select the school and grade your student(s) will be entering in the Fall so we can match you properly.
  </p>
</section>
<section>
  <div class='card'>
    <div class='card-header'>
      <h4>Parent Information</h4>
    </div>
    <div class='card-body'>

      <p class='card-text'>
        <form method="post">
          {{formset.management_form}}
          {% csrf_token %}
          {% bootstrap_formset_errors formset %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.is_host show_help=True show_label=False%}
          {% bootstrap_field form.masks show_help=False show_label=True%}
          {% bootstrap_field form.distance show_help=False show_label=True%}
          {% bootstrap_field form.notes show_help=False show_label=True%}
            <h6 class='mt-3'>
              <br>Student Information
            </h6>
          <table class='table table-reponsive table-sm'>
            <thead>
              <tr>
                <th>
                  First Name/Initials
                </th>
                <th>
                  School
                </th>
                <th>
                  Grade
                </th>
              </tr>
            </thead>
            <tbody>
              {% for form in formset %}
                <tr>
                  <td>{% bootstrap_field form.name show_help=False show_label=False size='small' placeholder="Your Student's First Name/Initials" %}</td>
                  <td>{% bootstrap_field form.school show_help=False show_label=False size='small' placeholder='Type to search....' %}</td>
                  <td>{% bootstrap_field form.grade show_help=False show_label=False size='small'%}</td>
                  {{form.id}}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% comment %}
          <div class='my-5'>
            <h4>
                Teachers:
            </h4>
            <p>
                At what level do you prefer to teach?
            </p>
            {% bootstrap_form_errors form %}
            <div class='form-group'>
              {% bootstrap_field form.teacher show_help=False show_label=False%}
            </div>
          </div>
          {% endcomment %}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Save
            </button>
          {% endbuttons %}
        </form>
      </p>
    </div>
    <div class='card-footer'>
      <p>
        If you can't find your school email me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> and I'll do whatever I can to assist you.
      </p>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
  {{formset.media}}
{% endblock scripts %}
