{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Parent Information{% endblock title %}
{% block header %}Parent Information{% endblock header %}
{% block topnav %}{% endblock topnav %}

{% block content %}
<section class='mb-5'>
  <p class='lead'>
    Please select the school and grade your student(s) will be entering in the Fall.
  </p>
  {%if homeroom %}
    <p>
      We see that you've been given a Homeroom code:<br>
        <strong>{{homeroom.id}}</strong><br>
          Enter this code for the student(s) that you want in that Homeroom and we'll slate your student in that group.  If you have multiple students to add you can just leave their Homeroom fields blank and you'll be able to create your own later!
    </p>
  {% else %}
    <p>
      This will help us match you to other students and teachers of the same grade and location.  If you have a Homeroom code enter it next to your student; otherwise leave that blank and you'll be able to create your own Homeroom.
    </p>
  {% endif %}
</section>
<section>
  <div class='card'>
    <div class='card-header'>
      <h4>Student Schools and Grade Levels</h4>
    </div>
    <div class='card-body'>

      <p class='card-text'>
        <form method="post">
          {{formset.management_form}}
          {% csrf_token %}
          {% bootstrap_formset_errors formset %}
          <table class='table table-sm'>
            <thead>
              <tr>
                <th>
                  School
                </th>
                <th>
                  Grade
                </th>
                <th>
                  Homeroom
                </th>
                <th>
                  Remove?
                </th>
              </tr>
            </thead>
            <tbody>
              {% for form in formset %}
                <tr>
                  <td>{% bootstrap_field form.school show_help=False show_label=False size='small' placeholder='Type to search....' %}</td>
                  <td>{% bootstrap_field form.grade show_help=False show_label=False size='small'%}</td>
                  <td>{% bootstrap_field form.homeroom show_help=False show_label=False size='small'%}</td>
                  <td>{{form.DELETE}}</td>
                  {{form.id}}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% comment %}
          <div class='my-5'>
            <h4>
                Teachers:
            </h4>
            <p>
                At what level do you prefer to teach?
            </p>
            {% bootstrap_form_errors form %}
            <div class='form-group'>
              {% bootstrap_field form.teacher show_help=False show_label=False%}
            </div>
          </div>
          {% endcomment %}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Save
            </button>
          {% endbuttons %}
        </form>
      </p>
    </div>
    <div class='card-footer'>
      <p>
        If you can't find your school you can <a href='{% url "add-school" %}'>add one</a>.  If you otherwise have questions or need help, email me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> and I'll do whatever I can to assist you.
      </p>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
  {{formset.media}}
{% endblock scripts %}
