{% extends 'app/base.html' %}

{% block title %}Privacy Policy{% endblock title %}
{% block header %}Privacy Policy{% endblock header %}



{% block content %}
<div class='col-lg-8'>
  <p>
    Our privacy policy is fairly simple:  we won't share or sell your information to anyone outside our system.  If you wish, we will connect you with other parents or teachers who want an in-person education experience.  And when the project is over, all information will be deleted.
  </p>
  <p>
    If you signed up using your Google Account, that information will only be used to authenticate you and send adminstrative updates (from which you can unsubscribe at any time.)  We store your name and email as provided by Google on our secured servers, and only access the information once at registration.
  </p>
</div>
{% endblock content %}
