{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Make a Report{% endblock title %}
{% block header %}Make a Report{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Provide an update on the current status of your district/administration so other parents can know what's going on.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Report Form</h4>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.title show_label=False show_help=True placeholder='Brief title for your report'  %}
            {% bootstrap_field form.text show_label=False show_help=True placeholder='Text of your report'  %}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" >
                Submit Report
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>

      <div class='card-footer'>
        <p class="card-text">
          <small class='text-muted'>Your report will be held until we have a chance to review it (for spam, inappropriate language, etc.)
        </p>
      </div>

    </div>
  </section>
{% endblock content %}
