{% extends 'app/base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% load location %}
{% block content %}
<br>
<section>
  <h1>
    Take Action for Kids
  </h1>
</section>

<section class='mt-2 my-5'>
  <div class='card'>
    <div class='card-header p-3'>
      <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%" >{{signatures.count|intcomma}} Signatures</div>
        <div class='ml-auto p-3'>
          <p>Goal: 5000</p>
        </div>
      </div>
    </div>
    <div class='card-header'>
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a href='{% url "sign" %}' class="nav-link active">Sign</a>
        </li>
        <li class="nav-item">
          <a href='{% url "petition" %}' class="nav-link">Petition</a>
        </li>
        <li class="nav-item">
          <a href='{% url "signatures" %}' class="nav-link">Signatures</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class='card-body'>
      <h5 class='card-title'>
        Signature
      </h5>
      <p>
        <form method='post' action='{% url "sign" %}' class=' form-horizontal' role='form'>
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.name show_label=False show_help=True placeholder="Name"%}
          {% bootstrap_field form.email show_label=False show_help=True placeholder="Email"%}
          {% bootstrap_field form.location show_label=False%}
          {% comment %}
          <h5 class='card-title'>
            Other
          </h5>
          {% endcomment %}
          <div class="form-group form-check-inline">
            <input type="checkbox" name='is_public' class="form-check-input" id="id_is_public">
            <label class="form-check-label" for="id_is_public">List My Name On This Website</label>
          </div>
          <div class="form-group form-check-inline">
            <input type="checkbox" name='is_teacher' class="form-check-input" id="id_is_teacher">
            <label class="form-check-label" for="id_is_teacher">I'm an Educator</label>
          </div>
          <div class="form-group form-check-inline">
            <input type="checkbox" name='is_doctor' class="form-check-input" id="id_is_doctor">
            <label class="form-check-label" for="id_is_doctor">I'm a Physician</label>
          </div>
          {% bootstrap_field form.message show_help=True show_label=False size='small'%}
          {% bootstrap_field form.notes show_help=True show_label=False size='small'%}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Add My Signature
            </button>
          {% endbuttons %}
        </form>
      </p>
    </div>
    <div class='card-footer'>
      <p class="card-text"><small>
        <span class='text-muted'>Your information isn't shared with anyone and all data will be deleted when this project is over.  Learn more <a href='{% url "about" %}'>about me</a>.</span></small>
      </p>
    </div>
  </div>
</section>

{% endblock content %}
