{% extends 'app/base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% load location %}
{% block content %}
<br>
<section>
  <h1>
    Take Action for Kids
  </h1>
</section>
 <section class='mt-2 my-5'>
  <div class='card'>
    <div class='card-header p-3'>
      <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%" >{{signatures.count|intcomma}} Signatures</div>
        <div class='ml-auto p-3'>
          <p>Goal: 5000</p>
        </div>
      </div>
    </div>
    <div class='card-header'>
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a href='{% url "sign" %}' class="nav-link">Sign</a>
        </li>
        <li class="nav-item">
          <a href='{% url "petition" %}' class="nav-link">Petition</a>
        </li>
        <li class="nav-item">
          <a href='{% url "signatures" %}' class="nav-link active">Signatures</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class='card-body'>
      <h5 class='card-title'>
        Signatures
      </h5>
      <div class='table-responsive'>
        <table class='table table-hover table-sm'>
          <thead class='thead-light'>
            <tr>
              <th class='w-25'scope='col'>Name</th>
              <th class='w-25'scope='col'>Location</th>
              <th class='w-50'scope='col'>Message</th>
            </tr>
          </thead>
          <tbody>
            {% for signature in signatures %}
              <tr>
                {% if signature.is_public %}
                  <td scope='row'>{{signature.name|title|safe}}</td>
                {% else %}
                  <td scope='row'><em>(Keep Private)</em></td>
                {% endif %}
                <td>{{signature.get_location_display|location}}</td>
                <td>{{signature.message|default_if_none:""|safe}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class='card-footer'>
      <p class="card-text"><small>
        <span class='text-muted'>Your information isn't shared with anyone and all data will be deleted when this project is over.  Learn more <a href='{% url "about" %}'>about me</a>.</span></small>
      </p>
    </div>
  </div>
</section>

{% endblock content %}
