{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block content %}
<br>
<section>
  <h1>
    Get Informed
  </h1>
</section>

<section class='my-5 col-lg-9'>
  <p class='lead'>
    If you're not ready to take action but want to stay updated, just enter your email below.  <strong>Subscribing means you just want to learn!</strong>  It does not signify an opinion and it won't be made public in any way.
  </p>
  <p>
    Good people can disagree; this is simply a way to get the "Start Normal" perspective.  I send infrequent updates (generally once a few days, never more than once a day) with the latest video or interview and you can unsubscribe anytime.

  </p>
  <p>
    Or if you get enough email already, check out some other educational <a href='{% url "videos" %}'>videos</a>.
  </p>
</section>
<section class='mt-2 col-lg-9'>
  <form method='post' class='form-horizontal' role='form'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form show_label=False%}
    {% buttons %}
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Get Informed
      </button>
    {% endbuttons %}
  </form>
</section>
<section class='my-5'>
</section>


{% endblock content %}
