{% extends 'app/base.html' %}

{% block content %}

<section class='mx-5'>
  <div class='col-md-6'>
    <h1>
      Thank You!
    </h1>
    <p class='lead'>
      <strong>Thank You</strong> for supporting our schools!  Next, please share this open Petition on social media.  We need lots of people to sign it to get their attention!
    </p>
    <p>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.districtsdecide.com&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-url="https://www.districtsdecide.com" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
  </div>
</section>
{% endblock content %}
