{% extends 'app/base.html' %}

{% block content %}
<section class='my-5'>
  <div class='col-md-10'>
<h2>
  What About the Timetable?
</h2>
<p>The framework assumes these changes will only be necessary for 12-18 months until a vaccine is developed. The basis for this assumption comes from a quote from the coronavirus task force leader, Dr. Anthony Fauci. “Dr. Fauci has indicated it will take between 12-18 months to develop a vaccine”, and so the plan is centered around that time frame. But when you read the <a href="https://www.businessinsider.com/coronavirus-vaccine-quest-18-months-fauci-experts-flag-dangers-testing-2020-4">actual article</a>, he puts that as at the <em>best case</em>, not a promise, and the remainder of the article are experts cautioning how &quot;ridiculously optimistic&quot; that estimate is.</p>

<p>For some additional context on how difficult this process can be, here is a New York Times article headlined “Human Tests Predicted Soon.”</p>

<blockquote>
<p>“Testing on humans for some vaccine could take place as early as the end of this year,” said Dr Anthony S. Fauci. His statement was based on the many vaccines being explored and his assumption that one or more of them would be ready for human testing soon. “But even if we do have a vaccine,” Fauci said, “we don&#39;t expect it to be available for widespread use until well into 1990.”</p>
</blockquote>

<p>If you’re confused by that last sentence, it’s because the <a href="https://www.nytimes.com/1987/01/16/us/human-tests-soon-predicted-in-quest-of-aids-vaccine.html">article</a> was written on January 16, 1987, and Dr. Fauci was talking about his estimates for an AIDS vaccine. Fast-forward thirty-three years, to February 3, 2020, in <a href="https://www.reuters.com/article/us-health-hiv-vaccine/trial-of-promising-hiv-vaccine-halted-after-failing-to-show-benefit-idUSKBN1ZX2QO">Reuters</a>: “An HIV vaccine is essential to end the global pandemic and we hoped this vaccine candidate would work. Regrettably, it does not,” said NIH infectious diseases chief Dr. Anthony Fauci.</p>

<p>Now Covid-19 and HIV are totally different and I am not besmirching Dr. Fauci. I only bring it up to remind us that basing plans around rosy estimates is reckless. Plotkin’s “Vaccines”, in its seventh edition and the reference text on the subject of vaccine development since 1988, notes actual vaccine development time averages over ten years — and that&#39;s for the ones that work at all.</p>

<p>Now we all hope a Covid-19 vaccine will come sooner. But hope is not a strategy. How does our planning change when we use the reference text estimate instead? My daughter would go through BA, Arroyo, Central, and Sequoia through to graduation wearing a mask, not touching a fellow student, and distance learning half the time. And if that seems impossible, remember we were originally told this would be two weeks, then a month, then two months, then the summer, and now only 12-18 months more. Unrealistic timetables that continue to slip and slip and slip are the starting point for every disaster I’ve ever experienced and that is happening here.</p>

<p>I know that is difficult to accept, and I don’t like it any more than you. But for our leaders to center their plan around this timetable is deeply, deeply, irresponsible. And if they can’t treat this seriously then they should let the districts decide. </p>
</div>
</section>
{% endblock content %}
