{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<br>
<section class='my-5'>
  <h1>
    {{district.name}}
  </h1>
</section>
<section class='my-5'>
  <h4>
    Status
  </h4>
  <p class='lead'>
    {{district.status|default:"(Information not yet entered.  Please send updates to <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.)"}}
  </p>
</section>
<section class='my-5'>
  <h4>
    Meetings
  </h4>
  <p>
    Next Meeting Date:  {{district.meeting_date|default:"(Not Entered)"}}
  </p>
</section>
<section class='my-5'>
  <h4>
    Contacts
  </h4>
  <table class='table'>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Role
        </th>
        <th>
          Email
        </th>
        <th>
          Phone
        </th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr>
          <td>
            {{contact.name}}
          </td>
          <td>
            {{contact.get_role_display}}
          </td>
          <td>
            <a href='mailto:{{contact.email}}'>{{contact.email}}</a>
          </td>
          <td>
            <a href='tel:{{contact.phone}}'>{{contact.phone}}</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan=4>
            (Information not yet entered.  If you would like to send an excel spreadsheet with this contact information we will add it to the website.  Send to <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.)
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section class='my-5'>
  <h4>
    Petitions
  </h4>
  <table class='table'>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      {% for petition in petitions %}
        <tr>
          <td>
            <a href='{% url "petition" petition.id %}'>{{petition.name}}</a>
          </td>
          <td>
            {{petition.get_status_display}}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan=4>
            (Information not yet entered.  If you would like to send an excel spreadsheet with this contact information we will add it to the website.  Send to <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.)
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}
