{% extends 'app/base.html' %}
{% load static %}

{% block title %}Get Involved{% endblock title %}
{% block header %}Get Involved{% endblock header %}

{% block content %}

<section class='my-5'>
  <h4>
    Click on a District Name for Further Detail
  </h4>
  <table class='table table-small table-hover'>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Schedule
        </th>
        <th>
          Masks
        </th>
        <th>
          Next Meeting
        </th>
      </tr>
    </thead>
    <tbody>
      {% for district in districts %}
        <tr>
          <td>
            <a href='{% url "district" district.short %}'>{{district.name}}</a>
          </td>
          <td>
            {{district.get_schedule_display}}
          </td>
          <td>
            {{district.get_masks_display}}
          </td>
          <td>
            {{district.meeting_date|date:"SHORT_DATE_FORMAT"}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan=4>
          If you would like to update the status for your district, please send information to <a href=
          'mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.  We will also be happy to add private schools to this list &mdash; please just send us the information.
        </td>
      </tr>
    </tfoot>
  </table>
</section>


{% endblock content %}
