{% extends 'app/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}
{% block header %}Frequently Asked Questions{% endblock header %}

{% block content %}

<section>
  <div class='row'>
    <div class='col-sm-9'>
      {% for faq in faqs %}
        <div class='my-5'>
          <h4>
            <a data-toggle="collapse" href="#faq_{{faq.id}}" aria-expanded="false" aria-controls="collapseExample">{{faq.question|safe}}</a>
          </h4>
        </div>
        <div class="collapse" id="faq_{{faq.id}}">
          {# <div class='card'> #}
            {# <div class='card-body'> #}
              <p>
                {{faq.answer|safe}}
              </p>
            {# </div> #}
          {# </div> #}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
