{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}
{% load location %}

{% block title %}Your Account{% endblock title %}
{% block header %}Your Account{% endblock header %}

{% block content %}

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Account Details</h4>
      </div>
      <div class='card-body'>
        <p>
          <form method='post' action='{% url "account" %}' class=' form-horizontal' role='form'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            <div class='form-group'>
              <input disabled='true' type="text" name="name" value="{{user.name}}" class="form-control" id="id_name">
            </div>
            <div class='form-group'>
              <input disabled='true' type="text" name="email" value="{{user.email}}" class="form-control" id="id_email">
            </div>
            <div class="form-group">
              {% bootstrap_field form.message show_help=False show_label=False%}
            </div>
            <div class='row'>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_public show_help=False show_label=False size='large'%}
              </div>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_subscribe show_help=False show_label=False size='large'%}
              </div>
            </div>
            <div class='row'>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_volunteer show_help=False show_label=False size='large'%}
              </div>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_teacher show_help=False show_label=False size='large'%}
              </div>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_doctor show_help=False show_label=False size='large'%}
              </div>
            </div>
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Save Account Details
              </button>
            {% endbuttons %}
          </form>
        </p>
      </div>

      <div class='card-footer'>
        <p class="card-text">
          <small class='text-muted'>
            If you would like to change your name or email please contact Dave at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.
          </small>
        </p>
      </div>

    </div>
  </section>
  <section class='mt-2 ml-2'>
    <a href='{% url "delete" %}'><span class='text-danger'>Delete Account</span></a>
  </section>

  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Students</h4>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>School</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <td>{{student.organization.name}}</td>
                <td>{{student.get_grade_display}}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
  </section>

{% endblock content %}
