{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}
{% load location %}

{% block title %}Your Account{% endblock title %}
{% block header %}Your Account{% endblock header %}

{% block content %}

  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Account Details</h4>
      </div>
      <div class='card-body'>
        <p>
          <form method='post' action='{% url "account" %}' class=' form-horizontal' role='form'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            <div class='form-group'>
              <input disabled='true' type="text" name="name" value="{{user.name}}" class="form-control" id="id_name">
            </div>
            <div class='form-group'>
              <input disabled='true' type="text" name="email" value="{{user.email}}" class="form-control" id="id_email">
            </div>
            <div class='row'>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_public show_help=False show_label=False size='large'%}
              </div>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_subscribe show_help=False show_label=False size='large'%}
              </div>
            </div>
            <div class='row'>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_volunteer show_help=False show_label=False size='large'%}
              </div>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_teacher show_help=False show_label=False size='large'%}
              </div>
              <div class="form-group form-check-inline">
                {% bootstrap_field form.is_doctor show_help=False show_label=False size='large'%}
              </div>
            </div>
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Save Account Details
              </button>
            {% endbuttons %}
          </form>
        </p>
      </div>

      <div class='card-footer'>
        <p class="card-text">
          <small class='text-muted'>
            If you would like to change your name or email please contact Dave at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.
          </small>
        </p>
      </div>

    </div>
  </section>
  <section class='mt-2 ml-2'>
    <a href='{% url "delete" %}'><span class='text-danger'>Delete Account</span></a>
  </section>

  <section class='my-5'>
    <table class='table'>
      <theaad>
        <tr>
          <th>Petition</th>
          <th>Status</th>
          <th>Signed</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for signature in signatures %}
          <tr>
            <td>{{signature.petition.name}}</td>
            <td>{{signature.get_status_display}}</td>
            <td>{{signature.created|date}}</td>
            <td>
              {% if signature.status == signature.STATUS.signed %}
                <a href='{% url "signature-remove" signature.id %}'><span class='text-danger'>Remove</span></a>
              {% else %}
                <a href='{% url "signature-add" signature.id %}'><span class='text-success'>Re-Sign</span></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </section>

{% endblock content %}
