{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Verify Email{% endblock title %}
{% block header %}Verify Email{% endblock header %}

{% block content %}
<section>
  <p class='lead'>
    Please check your email and click on the link to verify your petition signature.
  </p>
  <p>
    If you do not receive an email within a minute, please check your spam folder.  If you still don't receive an email either try signing up again or email Dave at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> to figure out what's wrong.  If email doesn't work at all then just call/text 415.713.2126 and I'll do everything I can to help.
  </p>
</section>

{% endblock content %}
