{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Share With Others{% endblock title %}
{% block header %}Share With Others{% endblock header %}

{% block content %}
<section class='mb-5'>
  <p class='lead'>
    Thank you &mdash; we will now try to connect you with other parents and teachers that match your grade and location.
  </p>
  <p>
    In the meantime, please share so that we can get additional students and teachers to join our network and make it even more powerful.
  </p>
  <ul class='list-inline'>
    <li>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.startnormal.com&layout=button_count&size=large&width=102&height=28&appId" width="102" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </li>
  </ul>
</section>
<section class='my-5'>
  <p>
    Also, you can adjust your <a href='{% url "account" %}'>account preferences</a> at any time.
  </p>
  <p>
    Lastly, always feel free to reach out to me at <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a> or via phone/text at 415.713.2126 and I'll do whatever I can to help.
  </p>
</section>


{% endblock content %}