{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Share With Others{% endblock title %}
{% block header %}Share With Others{% endblock header %}

{% block content %}
<section class='mb-5'>
  <p class='lead'>
    Lastly, share this with others so we can be even stronger together.
  </p>
  <ul class='list-inline'>
    <li>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.startnormal.com&layout=button_count&size=large&width=102&height=28&appId" width="102" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </li>
  </ul>
</section>
<section>
  <div class='card'>
    <div class='card-header'>
      <h5>
      </h5>
    </div>
    <div class='card-body'>
      <p class='card-text'>
        <form method="post">
          {{formset.management_form}}
          {% csrf_token %}
          {% bootstrap_formset_errors formset %}
          <table class='table table-sm'>
            <thead>
              <tr>
                <th>
                  School
                </th>
                <th>
                  Grade
                </th>
              </tr>
            </thead>
            <tbody>
              {% for form in formset %}
                <tr>
                  <td>{% bootstrap_field form.organization show_help=False show_label=False size='small'%}</td>
                  <td>{% bootstrap_field form.grade show_help=False show_label=False size='small'%}</td>
                </tr>
                {{form.id}}
              {% endfor %}
            </tbody>
          </table>
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Save Students
            </button>
          {% endbuttons %}
        </form>
      </p>
    </div>
    <div class='card-footer'>
      <p>
        You can always reach out to me at dbinetti@startnormal.com with any questions, or make changes to your <a href='{% url "account" %}'>account</a> anytime.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
{% block scripts %}
  {{formset.media}}
{% endblock scripts %}
