{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}
{% load location %}

{% block title %}Student Information{% endblock title %}
{% block header %}Student Information{% endblock header %}


{% block content %}

<section>
  <p class='lead'>
    You can add or edit student information here.  This will allow us to keep you updated and ensure your voice is heard with the right public officials.
  </p>
</section>

<section class='mt-2 mt-5'>
  <div class='card'>
    <div class='card-header'>
      <h5>
        Student Details
      </h5>
    </div>
    <div class="card-body">
      <div class='card-text'>
        <form method='post'>
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.organization show_label=False show_help=False%}
          {% bootstrap_field form.grade show_label=False show_help=False%}
          {% bootstrap_field form.user %}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" id='id-button-signup'>
              Save Student Details
            </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
    <div class='card-footer'>
      <p class="card-text"><small>
        <span class='text-muted'>Your information isn't shared with anyone and all data will be deleted when this project is over.  Learn more <a href='{% url "about" %}'>about me</a>.</span></small>
      </p>
    </div>
  </div>
</section>

{% endblock content %}
{% block scripts %}
  {{form.media}}
{% endblock scripts %}