{% extends 'app/base.html' %}

{% load bootstrap4 %}

{% block title %}Thank You!{% endblock title %}
{% block header %}Thank You!{% endblock header %}

{% block content %}
<section class='mb-5'>
  <p class='lead'>
    Next, if you have children please select their schools so we can direct your message to the proper public officials
  </p>
</section>
<section>
  <div class='card'>
    <div class='card-header'>
      <h5>
        Student Schools and Grades
      </h5>
    </div>
    <div class='card-body'>
      <p class='card-text'>
        <form method="post">
          {{formset.management_form}}
          {% csrf_token %}
          {% bootstrap_formset_errors formset %}
          <table class='table table-sm'>
            <thead>
              <tr>
                <th>
                  School
                </th>
                <th>
                  Grade
                </th>
              </tr>
            </thead>
            <tbody>
              {% for form in formset %}
                <tr>
                  <td>{% bootstrap_field form.school show_help=False show_label=False size='small'%}</td>
                  <td>{% bootstrap_field form.grade show_help=False show_label=False size='small'%}</td>
                  {{form.id}}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Save Students
            </button>
          {% endbuttons %}
        </form>
      </p>
    </div>
    <div class='card-footer'>
      <p>
        If you have more than five students, or wish to fill it out later, just click "Save Students" to continue to the next page.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
{% block scripts %}
  {{formset.media}}
{% endblock scripts %}
