{% extends "app/base.html" %}
{% load bootstrap4 %}

{% block content %}
<section class='mx-5'>
  <br>
</section>
<div class='col-lg-9'>
<div class='card'>
  <div class='card-header'>
    <h4>Login</h4>
  </div>
  <div class='card-body'>
<form method="post" action=".">
  {% csrf_token %}
  {% bootstrap_form_errors form %}
  {# {% bootstrap_form form %} #}
  {% bootstrap_field form.username show_label=False%}
  {% bootstrap_field form.password show_label=False%}

  {% buttons %}
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Login
    </button>
  {% endbuttons %}
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
</div>
{% endblock %}

<section>
