{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Add a Contact{% endblock title %}
{% block header %}Add a Contact{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Add a Superintendent/School Board Member to your local District/Adminstration.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class='card-header'>
        <h4>Report Form</h4>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.name show_label=False show_help=False placeholder='Contact Name'  %}
            {% bootstrap_field form.role show_label=False show_help=False %}
            {% bootstrap_field form.email show_label=False show_help=False placeholder='Email'  %}
            {% bootstrap_field form.phone show_label=False show_help=False placeholder='Phone'  %}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" >
                Submit Contact
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>

      <div class='card-footer'>
        <p class="card-text"><small>
          <small class='text-muted'>Please contact <a href='dbinetti@startnormal.com'>dbinetti@startnormal.com</a> if you have any questions or need support.</small>
        </p>
      </div>

    </div>
  </section>
{% endblock content %}
