{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}{{district.name}}{% endblock title %}
{% block header %}{{district.name}}{% endblock header %}
{% block subheader %}
  {{district.address}}, {{district.city}}, {{district.state}}&nbsp;&nbsp;<a href='tel:{{district.phone}}'>{{district.phone}}</a>&nbsp;<a href='{{district.website}}'>{{district.website}}</a>
{% endblock subheader %}


{% block content %}

  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h5>Latest Status Report</h5>
      </div>
      <div class='card-body'>
        {% for report in reports %}
          {% if reports.count == 1 %}
            <p>
              <strong>{{report.title}}</strong>&nbsp;&nbsp;<small class='text-muted'>Reported by {{report.user.name}} on {{report.created|date}}</small><br>
              {{report.text}}
            </p>
          {% else %}
            {% if forloop.first %}
              <p>
                <strong>{{report.title}}</strong>&nbsp;&nbsp;<small class='text-muted'>Reported by {{report.user.name}} on {{report.created|date}}</small><br>
                {{report.text}}
              </p>
              <span class="badge badge-warning" data-toggle="collapse" data-toggle="collapse" data-target="#moreReports" role='button'>Show All</span>
            {% else %}
              <div class='collapse' id='moreReports'>
                <p>
                  <strong>{{report.title}}</strong>&nbsp;&nbsp;<small class='text-muted'>Reported by {{report.user.name}} on {{report.created|date}}</small><br>
                  {{report.text}}
                </p>
              </div>
            {% endif %}
          {% endif %}
        {% empty %}
          <p>
            No Current Reports.
          </p>
        {% endfor %}
      </div>
      <div class='card-footer'>
        {% if request.user.is_authenticated %}<a href='{% url "district-report" district.slug %}' role='button' class='btn btn-success'>Make a Report</a>{%endif%}
      </div>
    </div>
  </section>



  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h5>District/Administration Contacts</h5>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <th>
              Name
            </th>
            <th>
              Role
            </th>
            <th>
              Email
            </th>
            <th>
              Phone
            </th>
          </thead>
          <tbody>
            {% for contact in contacts %}
              <tr>
                <td>
                  {{contact.name}}
                </td>
                <td>
                  {{contact.get_role_display}}
                </td>
                <td>
                  <a href='mailto:{{contact.email}}'>{{contact.email}}</a>
                </td>
                <td>
                  <a href='tel:{{contact.phone}}'>{{contact.phone}}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        {% if request.user.is_authenticated %}<a href='{% url "district-contact" district.slug %}' role='button' class='btn btn-success'>Add a Contact</a>{%endif%}
      </div>
    </div>
  </section>

  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h5>Parents Who Want to Start Normal</h5>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <th>
              Name
            </th>
            <th>
              School(s)
            </th>
            <th>
              Message
            </th>
          </thead>
          <tbody>
            {% for parent in parents %}
              <tr>
                <td>
                  {% if parent.account.is_public %}{{parent.name}}{% else %}Concerned Parent{% endif %}
                </td>
                <td>
                  {{parent.schools}}
                </td>
                <td>
                  {{parent.account.message|default:"(No message)"}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class='card-footer'>
        {% if request.user.is_authenticated %}<a href='{% url "district-report" district.slug %}' role='button' class='btn btn-success'>Make a Report</a>{%endif%}
      </div>
    </div>
  </section>


{% endblock content %}
