{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}Get Involved!{% endblock title %}
{% block header %}Get Involved!{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Send a message that you want school to start as normal as possible &mdash; meaning full-time, in-person instruction with safety requirements balanced against children's developmental needs.
    </p>
  </section>
  <section class='mt-2 mt-5'>
    <div class='card'>
      <div class="card-body">
        <div class='card-text'>
          <form method='post'>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.name show_label=False show_help=True placeholder='Name'  %}
            {% bootstrap_field form.email show_label=False show_help=True placeholder='Email'  %}
            {% bootstrap_field form.password show_label=False show_help=True placeholder='Password'  %}
            {% bootstrap_field form.message show_label=False show_help=True%}
            {% bootstrap_field form.is_public form_group_class='form-group form-check form-check-inline' show_label=True show_help=True %}
            {% bootstrap_field form.is_subscribe form_group_class='form-group form-check form-check-inline' show_label=True show_help=True%}
            {% buttons %}
              <button type="submit" class="btn btn-primary btn-lg btn-block" id='id-button-signup'>
                Sign
              </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
      <div class='card-footer'>
        <p class="card-text"><small>
          <span class='text-muted'>Your information isn't shared with anyone and all data will be deleted when this project is over.  Learn more <a href='{% url "about" %}'>about me</a>.</span></small>
        </p>
      </div>
    </div>
  </section>
{% endblock content %}
