{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}

{% block title %}{{organization.name}}{% endblock title %}
{% block header %}{{organization.name}}{% endblock header %}
{% block subheader %}
  {{organization.address}}, {{organization.city}}, {{organization.state}}&nbsp;&nbsp;<a href='tel:{{organization.phone}}'>{{organization.phone}}</a>&nbsp;<a href='{{organization.website}}'>{{organization.website}}</a>
{% endblock subheader %}

{% block content %}

  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h5>Latest Status Report</h5>
      </div>
      <div class='card-body'>
        {% for report in reports %}
          {% if reports.count == 1 %}
            <p>
              <strong>{{report.title}}</strong>&nbsp;&nbsp;<small class='text-muted'>Reported by {{report.user.name}} on {{report.created|date}}</small><br>
              {{report.text}}
            </p>
          {% else %}
            {% if forloop.first %}
              <p>
                <strong>{{report.title}}</strong>&nbsp;&nbsp;<small class='text-muted'>Reported by {{report.user.name}} on {{report.created|date}}</small><br>
                {{report.text}}
              </p>
              <span class="badge badge-warning" data-toggle="collapse" data-toggle="collapse" data-target="#moreReports" role='button'>Show All</span>
            {% else %}
              <div class='collapse' id='moreReports'>
                <p>
                  <strong>{{report.title}}</strong>&nbsp;&nbsp;<small class='text-muted'>Reported by {{report.user.name}} on {{report.created|date}}</small><br>
                  {{report.text}}
                </p>
              </div>
            {% endif %}
          {% endif %}
        {% empty %}
          <p>
            No Current Reports.
          </p>
        {% endfor %}
        <div class='my-5'>
          <a href='{% url "report" organization.parent.slug %}' role='button' class='btn btn-success'>Make a Report</a>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='card'>
      <div class='card-header'>
        <h5>Parents Who Want to Start Normal</h5>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <th>
              Name
            </th>
            <th>
              Student Grade(s)
            </th>
            <th>
              Message
            </th>
          </thead>
          <tbody>
            {% for parent in parents %}
              <tr>
                <td>
                  {% if parent.account.is_public %}{{parent.name}}{% else %}Concerned Parent{% endif %}
                </td>
                <td>
                  {{parent.grades}}
                </td>
                <td>
                  {{parent.account.message|default:"(No message)"}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>


{% endblock content %}
