{% extends 'app/base.html' %}

{% load bootstrap4 %}
{% load humanize %}
{% load location %}

{% block title %}{{petition.name}}{% endblock title %}
{% block header %}{{petition.name}}{% endblock header %}
{% block subheader %}
  {{petition.address}}, {{petition.city}}, {{petition.state}}&nbsp;&nbsp;<a href='tel:{{petition.phone}}'>{{petition.phone}}</a>&nbsp;<a href='{{petition.website}}'>{{petition.website}}</a>
{% endblock subheader %}

{% block content %}

  <section>
    <p class='lead'>
      Signing this petition will send a message that you want school to start as normal as possible &mdash; meaning full-time, in-person instruction with safety requirements balanced against children's developmental needs.
    </p>
  </section>

  {% if signature %}
    <section class='mt-2 mt-5'>
      <div class='card'>
        <div class='card-header'>
          <h5>
            Your Status
          </h5>
        </div>
        <div class="card-body">
          <div class='card-title'>
            Your signature status on this petition is <strong>{{signature.get_status_display}}</strong> with this message:<br>
            <em>{{signature.message|default:"(No message)"}}</em>
          </div>
          <div class='card-text'>
            <a href='{% url "signature" signature.id %}'>Update Signature</a>
          </div>
        </div>
      </div>
    </section>

  {% else %}
    <section class='mt-2 mt-5'>
      <div class='card'>
        <div class='card-header'>
          <h5>
            Sign Petition
          </h5>
        </div>
        <div class="card-body">
          <div class='card-text'>
            {% if request.user.is_authenticated %}
                <form method='post'>
                  {% csrf_token %}
                  {% bootstrap_form_errors form %}
                  {% bootstrap_field form.message show_label=False show_help=True%}
                  {% bootstrap_field form.user %}
                  {% bootstrap_field form.petition %}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id='id-button-signup'>
                      Sign
                    </button>
                  {% endbuttons %}
                </form>
            {% else %}
                <form method='post'>
                  {% csrf_token %}
                  {% bootstrap_form_errors form %}
                  {% bootstrap_field form.name show_label=False show_help=True placeholder='Name'  %}
                  {% bootstrap_field form.email show_label=False show_help=True placeholder='Email'  %}
                  {% bootstrap_field form.password show_label=False show_help=True placeholder='Password'  %}
                  {% bootstrap_field form.message show_label=False show_help=True%}
                  {% bootstrap_field form.is_public form_group_class='form-group form-check form-check-inline' show_label=True show_help=True %}
                  {% bootstrap_field form.is_subscribe form_group_class='form-group form-check form-check-inline' show_label=True show_help=True%}
                  {% buttons %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id='id-button-signup'>
                      Sign
                    </button>
                  {% endbuttons %}
                </form>
            {% endif %}
          </div>
        </div>
        <div class='card-footer'>
          <p class="card-text"><small>
            <span class='text-muted'>Your information isn't shared with anyone and all data will be deleted when this project is over.  Learn more <a href='{% url "about" %}'>about me</a>.</span></small>
          </p>
        </div>
      </div>
    </section>
  {% endif %}

  {% if signatures.count > 10 %}
    <section class='my-5'>
      <div class='card'>
        <div class='card-header'>
          <h5>
            Signatures
          </h5>
        </div>
        <div class="card-body">
          <table class='table'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for signature in signatures %}
                <tr>
                  <td>
                    {% if signature.user.account.is_public %}
                      {{signature.user.name}}
                    {% else %}
                      <em>Name Withheld</em>
                    {% endif %}
                  </td>
                  <td>{{signature.message|truncatewords:5|default:"(No message)" }}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock content %}
