{% extends 'app/base.html' %}

{% block title %}{{school.name}}{% endblock title %}
{% block header %}{{school.name}}{% endblock header %}

{% block content %}

  <section class='my-5'>
    <p class='lead'>
      We need to get back to school!
    </p>
  </section>

  <section class='my-5'>

  </section>

  <section class='my-5'>
    <h4>
      Contacts
    </h4>
    <table class='table'>
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Role
          </th>
          <th>
            Email
          </th>
          <th>
            Phone
          </th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
          <tr>
            <td>
              {{contact.name}}
            </td>
            <td>
              {{contact.get_role_display}}
            </td>
            <td>
              <a href='mailto:{{contact.email}}'>{{contact.email}}</a>
            </td>
            <td>
              <a href='tel:{{contact.phone}}'>{{contact.phone}}</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan=4>
              (Information not yet entered.  If you would like to send an excel spreadsheet with this contact information we will add it to the website.  Send to <a href='mailto:dbinetti@startnormal.com'>dbinetti@startnormal.com</a>.)
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock content %}
