{% extends 'app/base.html' %}

{% block title %}Search Schools{% endblock title %}
{% block header %}Search Schools{% endblock header %}

{% block content %}

  <section>
    <p class='lead'>
      Search below for your school to see how you can get involved.
    </p>
  </section>
  <section>
    <div id="searchbox" class='my-5'>
    </div>
    {# <div id="refine" class='my-5'> #}
    {# </div> #}
    <div id="hits" class='my-5'>
    </div>
  </section>

{% endblock content %}

{% block scripts %}
  <script>

    const searchClient = algoliasearch(
      "{{app_id}}",
      "{{search_key}}",
    );

    let search = instantsearch({
      indexName: "{{index_name}}",
      searchClient,
      searchFunction: function(helper) {
        var searchResults = $('.search-results');
        if (helper.state.query === '') {
          searchResults.hide();
          return;
        }
        helper.search();
        searchResults.show();
      }
    });

    search.addWidgets([
      instantsearch.widgets.searchBox({
        container: '#searchbox',
        placeholder: 'Search California Schools...',
        autofocus: true,
        showReset: false,
        showSubmit: false,
        cssClasses: {
          root: 'root',
          form: 'form',
          input: 'input form-control form-control-large',
        },
      }),
    ]);

    search.addWidgets([
      instantsearch.widgets.infiniteHits({
        container: '#hits',
        templates: {
          item(item) {
            return `
              <strong><a href='school/${item.slug}'>${item.name}</a></strong><br>
              ${item.address}  ${item.city}, ${item.state}
            `;
          }
        },
        cssClasses: {
          list: 'list',
          item: 'my-3',
          loadPrevious: 'btn btn-primary mt-5',
          loadMore: 'btn btn-primary mt-5',
          disabledLoadPrevious: 'btn btn-primary mt-5',
          disabledLoadMore: 'btn btn-primary mt-5',
        },
      }),
    ]);

    // search.addWidgets([
    //   instantsearch.widgets.refinementList({
    //     container: '#refine',
    //     attribute: 'get_doc_display',
    //     // Optional parameters
    //     operator: string,
    //     limit: number,
    //     showMore: boolean,
    //     showMoreLimit: number,
    //     searchable: boolean,
    //     searchablePlaceholder: string,
    //     searchableIsAlwaysActive: boolean,
    //     searchableEscapeFacetValues: boolean,
    //     sortBy: string[]|function,
    //     templates: object,
    //     cssClasses: object,
    //     transformItems: function,
    //   })
    // ]);

    search.start();

  </script>
{% endblock scripts %}
