{% autoescape off %}
Thanks for joining our movement to Start Normal!

There are just a few important things in this message to review:

    Signature Name:  {{signature.name}}
    Post this Signature on Website?  {{signature.is_public|yesno|title}}
    Location:  {{signature.get_location_display}}
    Notes: {{signature.notes|wordwrap:70|default:"(No notes submitted)"}}

If any of this incorrect, or you'd like to add some details
like your school district or desire to volunteer -- or you signed
in error and would like to remove your signature -- then please click
the link below.  It will ask you to create a password and then
allow you to make changes.  The link expires in three days so you might
want to click it now while you're thinking about it:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}
{% endblock %}
Also, as part of signing you will automatically receive updates via email
(generally once every few days, and never more than once a day) through a
separate service.  If you'd prefer not to receive updates there will be a
link at the bottom of each update which will make that one-click easy.

Finally, if you have any other questions, ideas, or just plain want to
talk, feel free to reply to this email or call me at 415.713.2126.

Thank you so much for standing up for our kids!

Best, Dave
{% endautoescape %}

