{% extends 'app/base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% load location %}

{% block title %}Your Account{% endblock title %}
{% block header %}Your Account{% endblock header %}

{% block content %}

<section class='mt-2 mt-5'>
  <div class='card'>
    <div class='card-header'>
      <h4>Account Details</h4>
    </div>
    <div class='card-body'>
      <p>
        <form method='post' action='{% url "account" %}' class=' form-horizontal' role='form'>
          {% csrf_token %}
          {% bootstrap_form_errors form %}
          {% bootstrap_field form.name show_label=False show_help=True placeholder="Name"%}
          {# {% bootstrap_field form.location show_label=False%} #}
          <div class="form-group form-check-inline">
            {% bootstrap_field form.is_volunteer show_help=False show_label=False size='large'%}
          </div>
          <div class="form-group form-check-inline">
            {% bootstrap_field form.is_teacher show_help=False show_label=False size='large'%}
          </div>
          <div class="form-group form-check-inline">
            {% bootstrap_field form.is_doctor show_help=False show_label=False size='large'%}
          </div>
          {# {% bootstrap_field form.notes show_help=True show_label=False size='small'%} #}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Save Preferences
            </button>
          {% endbuttons %}
        </form>
      </p>
    </div>

    <div class='card-footer'>
      <p class="card-text"><small>
        <span class='text-muted'>Your information isn't shared with anyone and all data will be deleted when this project is over.  Learn more <a href='{% url "about" %}'>about me</a>.</span></small>
      </p>
    </div>

  </div>
</section>
<section class='mt-2 mt-5'>
  <div class='card'>
    <div class='card-header'>
      <h4>Your Signatures</h4>
    </div>
    <div class='card-body'>
      <table class='table table-sm'>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              District
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          {% for signature in signatures %}
            <tr>
              <td>
                <a href='{% url "petition" signature.petition.id %}'>{{signature.petition.name}}</a>
              </td>
              <td>
                {{signature.petition.district.name}}
              </td>
              <td>
                {{signature.get_status_display}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class='mt-2 ml-2'>
  <a href='{% url "delete" %}'><span class='text-danger'>Delete Account</span></a>
</section>

{% endblock content %}
