{% extends 'app/base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% load location %}

{% block title %}Signature{% endblock title %}
{% block header %}Signature{% endblock header %}


{% block content %}

<section class='mt-2 mt-5'>
  <div class='card'>
    <div class='card-header'>
      <h4>
        {{signature.petition.name}}
      </h4>
    </div>
    <div class='card-body'>
      <p>
        {{signature.petition.text|safe}}
      </p>
    </div>
    <div class='card-footer'>
      <p class="card-text"><small>
        <span class='text-muted'>Your information isn't shared with anyone and all data will be deleted when this project is over.  Learn more <a href='{% url "about" %}'>about me</a>.</span></small>
      </p>
    </div>
  </div>
</section>
<section class='mt-2 ml-2'>
  <a href='{% url "signature-remove" signature.id %}'><span class='text-danger'>Remove Signature</span></a>
</section>

{% endblock content %}
